<!--继承模板-->
{extend name="defa/defa" /}
<!--title-->
{block name="title"}投资者管理{/block}
<!--keywords-->
{block name="keywords"}{/block}
<!--description-->
{block name='description'}{/block}
<!--index js && css -->
{block name="index"}
<link href="__STATIC__/index/css/app.6e8fecf9baa6cf278e54a8181d44c5e4.css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" async="" src="__STATIC__/index/js/0.f5ed0d9d7e597a228142.js"></script>
<script type="text/javascript" charset="utf-8" async="" src="__STATIC__/index/js/17.2ca34d5d16f167d8013d.js"></script>
<link href="__STATIC__/admin/css/xadmin.css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" async="" src="__STATIC__/admin/lib/layui/layui.js"></script>

<style>
  .evaBox {
    width: 100%;
    padding: 70px 0;
    height: auto;
    background: url("../../../static/image/evaluateBg.png") center top no-repeat #F4F5FA;
  }
  .evaBox .evaContent {
    width: 1200px;
    padding-bottom: 55px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 0px rgba(153, 153, 153, 0.5);
  }
  .evaBox .evaContent h3 {
    height: 70px;
    line-height: 70px;
    color: #1A1A1A;
    border-bottom: 1px solid #E3E4E5;
    font-size: 18px;
    padding: 0 30px;
  }
  .evaBox .evaContent .line {
    width: 990px;
    height: 8px;
    background: #D0E0F9;
    margin: 70px auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .evaBox .evaContent .line div {
    float: left;
    width: 33.33%;
    height: 8px;
    position: relative;
    text-align: center;
  }
  .evaBox .evaContent .line div span {
    width: 32px;
    height: 32px;
    line-height: 32px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #D0E0F8;
    color: #09224B;
    font-size: 20px;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    top: -12px;
  }
  .evaBox .evaContent .line div.active {
    background: -webkit-gradient(linear, 100% 0, 0 0, from(#579EFA), to(#4F74F4));
    background: -webkit-linear-gradient(to bottom, #579EFA, #4F74F4);
    background: -moz-linear-gradient(to bottom, #579EFA, #4F74F4);
    background: -o-linear-gradient(to bottom, #579EFA, #4F74F4);
    background: linear-gradient(to bottom, #579EFA, #4F74F4);
  }
  .evaBox .evaContent .line div.active span {
    background: -webkit-gradient(linear, 100% 0, 0 0, from(#579EFA), to(#4F74F4));
    background: -webkit-linear-gradient(to bottom, #579EFA, #4F74F4);
    background: -moz-linear-gradient(to bottom, #579EFA, #4F74F4);
    background: -o-linear-gradient(to bottom, #579EFA, #4F74F4);
    background: linear-gradient(to bottom, #579EFA, #4F74F4);
    color: #fff;
  }
  .evaBox .evaContent .line div:nth-child(1) {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
  }
  .evaBox .evaContent .line div:nth-child(3) {
    -webkit-border-radius: 0px 4px 4px 0;
    -moz-border-radius: 0px 4px 4px 0;
    border-radius: 0px 4px 4px 0;
  }
  .evaBox .evaContent .evaTitle {
    font-size: 20px;
    color: #1A1A1A;
    text-align: center;
    margin-bottom: 40px;
  }
  .evaBox .evaContent .part1 .row {
    width: 420px;
    margin: 0 auto 15px;
  }
  .evaBox .evaContent .part1 .row .name {
    float: left;
    margin-right: 15px;
    color: #1A1A1A;
    line-height: 42px;
  }
  .evaBox .evaContent .part1 .row .textInp {
    float: left;
    width: 338px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #DCDFE6;
    text-indent: 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .evaBox .evaContent .part1 .row .selectBox {
    float: left;
    width: 130px;
  }
  .evaBox .evaContent .part1 .row .selectBox select {
    width: 130px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #E3E4E5;

  }
  .evaBox .evaContent .part1 .row .unit {
    line-height: 42px;
    margin-left: 8px;
  }
  .evaBox .evaContent .part1 .row .provice {
    margin-right: 28px;
  }
  .evaBox .evaContent .part .choiceBox {
    width: 1000px;
    margin: 0 auto 30px;
  }
  .evaBox .evaContent .part .choiceBox span {
    float: left;
    width: 75px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #E3E4E5;
    text-align: center;
    color: #333;
    border-radius: 3px;
    margin: 0 3px 16px;
  }
  .evaBox .evaContent .part .choiceBox  span.current {
    color: #fff;
    border: 1px solid #5389F7;
    background-color: #5389F7;
  }
  .evaBox .evaContent .part2 .budget {
    width: 410px;
    margin: 0 auto;
  }
  .evaBox .evaContent .part2 .budget .name {
    float: left;
    line-height: 40px;
    color: #1a1a1a;
  }
  .evaBox .evaContent .part2 .budget .border {
    float: right;
    width: 320px;
    padding-right: 18px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #E3E4E5;
    position: relative;
    border-radius: 2px;
  }
  .evaBox .evaContent .part2 .budget .border input {
    width: 280px;
    height: 38px;
    line-height: 38px;
    text-indent: 15px;
  }
  .evaBox .evaContent .part3 .budget {
    width: 410px;
    margin: 0 auto 13px;
  }
  .evaBox .evaContent .part3 .budget .name {
    float: left;
    line-height: 40px;
    color: #1a1a1a;
  }
  .evaBox .evaContent .part3 .budget .border {
    float: right;
    width: 338px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #E3E4E5;
    position: relative;
    border-radius: 2px;
  }
  .evaBox .evaContent .part3 .budget .border input {
    float: left;
    width: 100%;
    height: 38px;
    line-height: 38px;
    text-indent: 15px;
  }
  .evaBox .evaContent .part3 .budget .border .testInp {
    width: 220px;
  }
  .evaBox .evaContent .part3 .budget .border .getBtn {
    float: right;
    width: 115px;
    height: 18px;
    line-height: 18px;
    border-left: 1px solid #E3E4E5;
    color: #5389F7;
    text-align: center;
    margin-top: 11px;
    cursor: pointer;
  }
  .evaBox .evaContent .part3 .budget .border .imgCode {
    float: right;
    width: 115px;
    height: 38px;
    cursor: pointer;
  }

  .btns {
    text-align: center;
    margin-top: 60px;
  }
  .btns button {
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-left: 1px solid #5389F7;
    text-align: center;
    color: #fff;
    background-color: #5389F7;
    cursor: pointer;
    border-radius: 5px;
  }

  .choiceBox {
    width: 1000px;
    margin: 0 auto 30px;
  }
  .el-checkbox-button {
    border-radius: 3px;
    margin: 0 10px 16px;
  }

  .el-checkbox-group .el-checkbox-button .el-checkbox-button__inner {
    border: 1px solid #DCDFE6;
    border-radius: 5px;
    box-shadow: 0 0 0 0 #8cc5ff;
  }
 .part{
   width: 100%;
    margin: auto;
 }
  .clearfix:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
  }
  .personalHeader {
    width: 100%;
    background: #fff;
    padding: 15px 0;
  }
  .personalHeader .content {
    display: flex;
    justify-content: space-between;
  }
  .personalHeader .logo {
    width: 194px;
    height: 70px;
  }
  .personalHeader .tabs {
    height: 70px;
    line-height: 70px;
  }
  .personalHeader .tabs a {
    display: inline-block;
    width: 100px;
    text-align: right;
    cursor: pointer;
  }
  .personalHeader .tabs a:hover {
    color: #579EFA;
  }
</style>
{/block}
{block name="header"}{/block}
{block name="content"}
<div>
  <div>
    <div data-v-5eef6683="" class="common-header">
      <div data-v-5eef6683="" class="body wrapper">
        <div data-v-5eef6683="" class="left">
          欢迎来到加盟指南网！ 全国服务热线：400-619-8882
        </div>
        <div data-v-5eef6683="" class="right">
          <div data-v-5eef6683="" class="phoneVersion">
            <span data-v-5eef6683="" class="iconfont icon-phone"></span>
            <span
                    data-v-5eef6683="">手机版</span>
            <img data-v-5eef6683="" src="__STATIC__/index/img/wap_qrcode.475f601.jpg" alt="手机二维码"
                 class="QRcode">
          </div>
          <div data-v-5eef6683="" class="weChatVersion">
            <span data-v-5eef6683="" class="iconfont icon-weChat"></span>
            <span data-v-5eef6683="">微信版</span>
            <img data-v-5eef6683="" src="__STATIC__/index/img/wx_qrcode.d7de962.jpg" alt="微信二维码" class="QRcode">
          </div>
          <div data-v-5eef6683="">
            {if $_SESSION['jmzn_web']['uid'] !== false}
            <a data-v-5eef6683="" href="{:url('index/user/index')}" class=""><span data-v-5eef6683="" class="name">您好，{$_SESSION['jmzn_web']['username']}</span></a>
            &nbsp;&nbsp;<a href="{:url('index/login/logout')}"><span data-v-5eef6683="">退出登陆</span></a>
            {else}
            <a data-v-5eef6683="" href="{:url('index/login/login')}" class="">登陆</a>
            {/if}
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="personalHeader">
        <div class="wrapper content">
          <a href="/">
            <img class="logo" src="../../static/image/logo.png" alt="">
          </a>
          <div class="tabs">
            <a href="/">首页</a>
            <a href="/index/item/index">找项目</a>
            <a href="index/index/rankinglist">排行榜</a>
            <a href="index/article/index">行业资讯</a>
          </div>
        </div>
      </div>
    </div>
    <div class="evaBox">
      <div class="evaContent">
        <h3>智能评估</h3>
        <div class="line">
          <div class="active"><span>1</span></div>
          <div><span>2</span></div>
          <div><span>3</span></div>
        </div>
        <div class="part part1" >
          <h4 class="evaTitle">请填写您的基本信息</h4>
          <div class="row clearfix">
            <label class="name">您的姓名</label>
            <input class="textInp" id="name" v-model="form.name" type="text" placeholder="请填写您的姓名" value="">
          </div>
          <div class="row clearfix">
            <label class="name">加盟区域</label>
            <div class="selectBox">
              <select id="province" onchange="cityChange()" >
                {foreach $city as $key => $value}
                <option value="{$value.id}">{$value.cityname}</option>
                {/foreach}
              </select>
            </div>
            <span class="fl unit provice">省</span>
            <div class="selectBox">
              <select id="city" lay-verify="">
                <option value="0">请选择</option>
              </select>
            </div>
            <span class="fl unit">市</span>
          </div>
          <div class="row clearfix">
            <label class="name">个人资源</label>
            <input class="textInp" id="resources" type="text" placeholder="请填写您的个人资源" value="">
          </div>
        </div>
        <div class="part part2" style="display: none">
          <h4 class="evaTitle">请选择您从事的行业</h4>

          <div class="choiceBox clearfix" >
            {foreach $cate as $key => $value}
            <label >
              <input type="checkbox" name="cate" value="{$value.id}" onchange="cateChange()" style="position: fixed;top: -10%">
              <span >{$value.name}</span>
            </label>
            {/foreach}
          </div>
          <h4 class="evaTitle">请填写您的预算金额</h4>
          <div class="budget clearfix">
            <label class="name">预算金额</label>
            <div class="border clearfix">
              <input class="fl" id="money" type="text" v-model="form.money" placeholder="请输入您的预算金额">
              <span class="fr">万元</span>
            </div>
          </div>
        </div>
        <div class="part part3" style="display: none">
          <h4 class="evaTitle">请选择您的意向行业</h4>
          <div class="choiceBox clearfix" >
            {foreach $cate as $key => $value}
            <label >
              <input type="checkbox" name="likeCate" value="{$value.id}" onchange="likeCateChange()" style="position: fixed;top: -10%">
              <span >{$value.name}</span>
            </label>
            {/foreach}
          </div>
          <h4 class="evaTitle">请填写您的联系方式</h4>
          <div class="budget clearfix">
            <label class="name">手机号码</label>
            <div class="border clearfix">
              <input class="fl" type="text" id="phone" placeholder="请输入您的手机号码">
            </div>
          </div>
          <div class="budget clearfix">
            <label class="name">图片验证</label>
            <div class="border clearfix">
              <input class="fl testInp" type="text" id="icode" placeholder="请输入图片验证码">
              <img class="imgCode" src="{:captcha_src()}" onclick="this.src='{:captcha_src()}'">
            </div>
          </div>
          <div class="budget clearfix">
            <label class="name">手机验证</label>
            <div class="border clearfix">
              <input class="fl testInp" type="text"id="pcode"  placeholder="请输入手机验证码">
              <span class="getBtn" onclick="getMobileCode(this)">获取验证码</span>
            </div>
          </div>
        </div>
        <div class="btns">
          <button class="upPage" type="info" onclick="upPage()" style="display: none" >上一步</button>
          <button  class="nextPage" type="primary"  onclick="nextPage()" >下一步</button>
          <button class="submitForm" type="primary" onclick="submitForm()" style="display: none" >完成</button>
        </div>
      </div>
    </div>
  </div>˚
</div>
<script type="text/javascript">
  function cityChange() {
    //省份id
    var p = $("#province").children('option:selected').val();
    console.log('provinceId',p);
    //获取城市
    $.ajax({
      type: "POST",
      url: "{:url('index/index/getCityDataList')}",
      data:{
        pid:p,
      },
      success: function(data) {
        if(data.code == 200){
          $("#city").html(false);
          layui.each(data.data,function (index,item) {
            //数据填充给option
            $("#city").append("<option class='city' value='"+item.id+"'>"+item.cityname+"</option>");
          });
        }else{
          layer.msg(data.msg,{icon:2});
        }
      }
    });
  }
  function submitForm(){
    //获取信息
    var name = $("#name").val();//姓名
    var city = $("#city").val();//加盟区域
    var resources = $("#resources").val();//个人资源
    var money = $("#money").val();//投资金额
    var phone = $("#phone").val();//手机号
    var pcode = $("#pcode").val();//短信验证码
    //验证手机号
    var resPhone = validatePhone(phone);
    if(!resPhone){
      return
    }
    //验证短信验证码
    if(!pcode){
      layer.msg('请输入短信验证码',{icon:2})
      return false;
    }
    //预算金额
    if(!money){
      layer.msg('请输入预算金额',{icon:2})
      return false;
    }
    //city
    if(city == 0){
      city =1;
      var city = $("#province").val();
      console.log('city',city);
    }

    console.log('name',name);
    console.log('city',city);
    console.log('resources',resources);
    console.log('money',money);
    console.log('phone',phone);
    console.log('pcode',pcode);

    //从事行业
    var catelenth = $("input[name='cate']:checked").length;
    var cate_id = "";
    $("input[name='cate']:checked").each(function (index, item) {
      if(catelenth-1){
        cate_id += $(this).val()+',';
      }else{
        cate_id += $(this).val() + ",";
      }
    });
    console.log('cate_id',cate_id);
    //意向行业
    var likeCateLength = $("input[name='cate']:checked").length;
    var likeCateId = "";
    $("input[name='cate']:checked").each(function (index, item) {
      if(likeCateLength-1){
        likeCateId += $(this).val()+',';
      }else{
        likeCateId += $(this).val() + ",";
      }
    });
    console.log('likeCateId',likeCateId);

    //ajax 提交
    $.ajax({
      type: "POST",
      url: "{:url('index/assess/add_ass')}",
      data:{
        'name':name,
        'city_id' :city,
        'resources' :resources,
        'money' :money,
        'phone' :phone,
        'code':pcode,
        'cate_id' :cate_id,
        'like_cate_id'  :likeCateId,
      },
      success: function(data){
        console.log('data',data);
        if(data.code == 200){
          layer.msg('成功',{icon:1})
          window.location.href = "{:url('index/assess/outcome')}?id="+data.data;
        }else{
          layer.msg(data.msg,{icon:2});
        }
      }
    })
  }

  //选择从事行业
  function cateChange(){
    $("input[name='cate']:checked").each(function(){
      // console.log($(this).val());
    })
    $("input[name='cate']").next().removeClass('current')
    $("input[name='cate']:checked").next().addClass('current');
    // console.log($("input[name='cate']:checked").next().addClass('current'));
  }

  // 选择意向行业
  function likeCateChange() {
    console.log('进来了啊');
    $("input[name='likeCate']:checked").each(function(){
      console.log($(this).val());
    })
    $("input[name='likeCate']").next().removeClass('current')
    console.log($("input[name='cate']:checked").next().addClass('current'));
    $("input[name='likeCate']:checked").next().addClass('current');
  }

  var type = 1;
  function upPage(){
     if(type == 1){
       return
     }
     type --;
     pageChange();
  }
  function nextPage(){
    if(type == 3){
      return
    }
    type ++;
    pageChange();
  }

  function pageChange(){
    console.log('type',type);
    console.log(" $('.line>div')", $('.line>div'));

    if(type == 1){
      $('.upPage').css({display:'none'});
      $('.submitForm').css({display:'none'});
      $('.nextPage').css({display:'inline-block'});
      $('.line>div').eq(1).removeClass('active');

    }else if(type == 2){
      $('.upPage').css({display:'inline-block'});
      $('.submitForm').css({display:'none'});
      $('.nextPage').css({display:'inline-block'});
      $('.line>div').eq(1).addClass('active');
      $('.line>div').eq(2).removeClass('active');


    }else if(type == 3){
      $('.upPage').css({display:'inline-block'});
      $('.submitForm').css({display:'inline-block'});
      $('.nextPage').css({display:'none'});
      $('.line>div').eq(2).addClass('active');
    }

    console.log(" $('.part')", $('.part'));
    $('.part').css({display: 'none'});
    // $('.part')[2].css({display: 'inline-block'})
    console.log(" $('.part')", $('.part').eq(type-1).css({display: 'inline-block'}));

  }
  //验证手机格式
  function validatePhone (phone) {
    if (!phone) {
      layer.msg('请输入手机号码',{icon:2});
      return false;
    }
    if (phone.length != 11) {
      layer.msg('手机号码格式不正确',{icon:2});
      return false;
    }
    return true;
  }
  //验证图片验证码
  function validateImgCode(imgCode){
    console.log('imgcode',imgCode);
    if(!imgCode){
      layer.msg('请输入图片验证码',{icon:2});
      console.log('请输入图片验证码');
      return false;
    }
    return true
  }

  //获取验证码
  let intervalID = '';
  function getMobileCode(e) {
    //验证手机号
    console.log('立即咨询');
    var phone = $("#phone").val();
    console.log('phone',phone);
    var resPhone = validatePhone(phone);
    if(!resPhone){
      return
    }
    //验证图片验证码
    var imgCode = $("#icode").val();
    console.log('imgCode',imgCode);
    var resImg = validateImgCode(imgCode);
    if(!resImg){
      return
    }
    //请 求短信接口
    $.ajax({
      type: "POST",
      url: "{:url('index/login/get_code')}",
      data:{
        phone:phone,
        icode:imgCode,
      },
      success: function(data){
        console.log('data',data);
        if(data.code != 200){
          console.log('msg',data.msg);
          layer.msg(data.msg,{icon:2});
          return ;

        }
        if(data.code == 200){
          console.log('msg','验证码发送成功');
          layer.msg('验证码发送成功',{icon:1});
          let outTime = 60;
          console.log($(e));
          intervalID = setInterval(function(){
            if(outTime == 0){
              outTime = 60;
              clearInterval(intervalID)
              $(e).html('获取验证码');
              return
            }
            outTime--;
            $(e).html(outTime+'S后可重新获取');
          },1000);
        }
      }
    })
  }
</script>
{/block}