<!--继承模板-->
{extend name="defa/defa" /}
<!--title-->
{block name="title"}投资者管理{/block}
<!--keywords-->
{block name="keywords"}{/block}
<!--description-->
{block name='description'}{/block}
{block name="index"}
    <link href="__STATIC__/index/css/app.6e8fecf9baa6cf278e54a8181d44c5e4.css" rel="stylesheet">
    <script type="text/javascript" charset="utf-8" async="" src="__STATIC__/index/js/0.f5ed0d9d7e597a228142.js"></script>
    <script type="text/javascript" charset="utf-8" async="" src="__STATIC__/index/js/1.3df231c13ef594287ac8.js"></script>
    <script type="text/javascript" src="__STATIC__/echarts.min.js"></script>
</head>
<body>
<script type="text/javascript" src="__STATIC__/index/js/vendor.ca774af52bc39667be8d.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/app.e7671a9f70033ac0eaad.js"></script>
<style type="text/css">
    .el-dropdown-menu{
        top: 20px;
        left: -20px;
    }
</style>
{/block}
{block name="header"}{/block}
{block name="content"}
<div id="app">
    <input type="hidden" id="pid" value="{$like_cate_count[0]['id']}">
    <div data-v-5eef6683="" class="common-header">
        <div data-v-5eef6683="" class="body wrapper">
            <div data-v-5eef6683="" class="left">
                欢迎来到加盟指南网！ 全国服务热线：400-619-8882
            </div>
            <div data-v-5eef6683="" class="right">
                <div data-v-5eef6683="" class="phoneVersion">
                    <span data-v-5eef6683="" class="iconfont icon-phone"></span>
                    <span
                            data-v-5eef6683="">手机版</span>
                    <img data-v-5eef6683="" src="__STATIC__/index/img/wap_qrcode.475f601.jpg" alt="手机二维码"
                         class="QRcode">
                </div>
                <div data-v-5eef6683="" class="weChatVersion">
                    <span data-v-5eef6683="" class="iconfont icon-weChat"></span>
                    <span data-v-5eef6683="">微信版</span>
                    <img data-v-5eef6683="" src="__STATIC__/index/img/wx_qrcode.d7de962.jpg" alt="微信二维码" class="QRcode">
                </div>
                <div data-v-5eef6683="">
                    {if $_SESSION['jmzn_web']['uid'] !== false}
                    <a data-v-5eef6683="" href="{:url('index/user/index')}" class=""><span data-v-5eef6683="" class="name">您好，{$_SESSION['jmzn_web']['username']}</span></a>&nbsp;&nbsp;<a href="{:url('index/login/logout')}"><span data-v-5eef6683="">退出登陆</span></a>
                    {else}
                    <a data-v-5eef6683="" href="{:url('index/login/login')}" class="">登陆</a>
                    {/if}
                </div>
            </div>
        </div>
    </div>
    <div data-v-949c1ac6="" class="evaluationReport">
        <div data-v-13f8abc6="" data-v-949c1ac6="" class="personalHeader">
            <div data-v-13f8abc6="" class="wrapper content">
                <a data-v-13f8abc6="" href="/" class="router-link-active">
                    <img data-v-13f8abc6="" src="__STATIC__/index/img/logo.45da167.png" alt="" class="logo"></a>
                <div data-v-13f8abc6="" class="tabs"><a data-v-13f8abc6="" href="/" class="router-link-active">首页</a>
                    <a data-v-13f8abc6="" href="{:url('index/item/index')}" class="">找项目</a>
                    <a data-v-13f8abc6="" href="{:url('index/item/rankinglist')}" class="">排行榜</a>
                    <a data-v-13f8abc6="" href="{:url('index/article/index')}" class="">行业资讯</a>
                </div>
            </div>
        </div>
        <div data-v-949c1ac6="" class="evaBox">
            <div data-v-949c1ac6="" class="report wrapper">
                <div data-v-949c1ac6="" class="title">评估报告</div>
                <div data-v-949c1ac6="" class="echarts clearfix">
                    <div data-v-949c1ac6="" class="left fl">
                        <div data-v-949c1ac6="" class="productCount">
                            <div data-v-949c1ac6="" class="qiun-common-mt">
                                <div data-v-949c1ac6="" class="qiun-title-dot-light">平台项目总量</div>
                            </div>
                            <div data-v-949c1ac6="" class="count">
                                <div data-v-949c1ac6="" class="box"></div>
                                <div data-v-949c1ac6="" class="box"></div>
                                <div data-v-949c1ac6="" class="box"></div>
                                <div data-v-949c1ac6="" class="box"></div>
                                <div data-v-949c1ac6="" class="box"></div>
                                <span data-v-949c1ac6="" class="text">{$count}</span>
                            </div>
                        </div>
                        <div data-v-949c1ac6="" class="qiun-columns ">
                            <div data-v-949c1ac6="" class="qiun-common-mt">
                                <div data-v-949c1ac6="" class="qiun-title-dot-light">项目符合度</div>
                            </div>
                            <div data-v-949c1ac6="" class="bar">
                                {foreach $like_cate_count as $key => $value}
                                <div data-v-949c1ac6="" class="row">
                                    <div data-v-949c1ac6="" class="text">
                                        {$value.name}
                                    </div>
                                    <div data-v-949c1ac6="" class="transition">
                                        <img data-v-949c1ac6=""
src="data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAAN4AAAALCAYAAAAQlDMrAAAA5ElEQVRoge2TO24EMQxDSfZ7iVwp9z9LUqw/lBbZpIoaPmBmYA0lU4bFx8fnFzYkLrzvHmfV7P980di36H75f/bj3ZvvND3u9fmaQ5UckLdPy6evZdodPzVocdQaYvXhde05MXXvtwZlvneeam1QgACya/HMX72QWHstnVh9yerDfIkABKrl6AdPJ09Wq/ew1qs//qUWcPc8GphnFE87l/usWw4EEGp9op2D3Zmisxi2/3Zn3R+eRxBC+GcyeCEMkMELYYAMXggDZPBCGCCDF8IAGbwQBsjghTBABi+EATJ4IQzwDWi2AyT0i2oZAAAAAElFTkSuQmCC"
                                             mode=""  class="icon-transition" style="width: {$value.data}%">
                                    </div>
                                    <div data-v-949c1ac6="" class="text">{$value.data}%</div>
                                </div>
                                {/foreach}
                            </div>
                        </div>
                    </div>
                    <div data-v-949c1ac6="" class="right fr">
                        <div data-v-949c1ac6="" class="qiun-columns box1">
                            <div data-v-949c1ac6="" class="qiun-common-mt">
                                <div data-v-949c1ac6="" class="qiun-title-dot-light">平均投资额</div>
                                <div data-v-949c1ac6="" class="qiun-select">
                                    <div data-v-949c1ac6="" class="el-dropdown">
                                        <span data-v-949c1ac6="" class="el-dropdown-link el-dropdown-selfdefine" aria-haspopup="list" aria-controls="dropdown-menu-2549" role="button" tabindex="0">
                                            <span>{$like_cate_count.0.name}</span><i data-v-949c1ac6="" class="el-icon-arrow-down el-icon--right"></i>
                                        </span>
                                        <ul data-v-949c1ac6="" class="el-dropdown-menu el-popper"
                                            id="dropdown-menu-2549" style="display: none;">
                                            <li  data-v-data-v-949c1ac6="" data-type="第一个" class="el-select-dropdown__item ">第一个</li>
                                            <li  data-v-data-v-949c1ac6="" data-type="第二个" class="el-select-dropdown__item ">第二个</li>
                                            <li  data-v-data-v-949c1ac6="" data-type="第三个" class="el-select-dropdown__item ">第三个</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div data-v-949c1ac6="" class="columns">
                                <div data-v-949c1ac6="" class="col" id="min">
                                    <div data-v-949c1ac6="" class="money">{$column.min}万</div>
                                    <img data-v-949c1ac6="" src="__STATIC__/index/img/icon_col.c9fa1b5.png" height="{$column.min}%" class="icon_col">
                                    <div data-v-949c1ac6="" class="name">平均最低投资额</div>
                                </div>
                                <div data-v-949c1ac6="" class="col" id="max">>
                                    <div data-v-949c1ac6="" class="money">{$column.max}万</div>
                                    <div data-v-949c1ac6="" class="icon_col">
                                        <img data-v-949c1ac6="" height="{$column.max}%" src="__STATIC__/index/img/icon_col.c9fa1b5.png">
                                    </div>
                                    <div data-v-949c1ac6="" class="name">平均最高投资额</div>
                                </div>
                                <div data-v-949c1ac6="" class="col" id="avg">
                                    <div data-v-949c1ac6="" class="money">{$column.avg}万</div>
                                    <img data-v-949c1ac6="" src="__STATIC__/index/img/icon_col.c9fa1b5.png" height="{$column.avg}%" class="icon_col">
                                    <div data-v-949c1ac6="" class="name">平均投资额</div>
                                </div>
                            </div>
                        </div>
                        <div data-v-949c1ac6="" class="qiun-columns box2">
                            <div data-v-949c1ac6="" class="qiun-common-mt">
                                <div data-v-949c1ac6="" class="qiun-title-dot-light">投资分布</div>
                            </div>
                            <div data-v-949c1ac6="" class="qiun-charts">
                                <div data-v-949c1ac6="" id="canvasRadar" class="charts charts2" style="background: #00112e"></div>
                            </div>
                        </div>
                    </div>
                    <div data-v-949c1ac6="" class="qiun-columns  fr box3" style="height: 557px; ">
                        <div data-v-949c1ac6="" class="qiun-common-mt">
                            <div data-v-949c1ac6="" class="qiun-title-dot-light">项目占比</div>
                        </div>
                        <div data-v-949c1ac6="" class="qiun-charts" >
                            <div data-v-949c1ac6="" id="canvasRing" class="charts" ></div>
                        </div>
                    </div>
                </div>
                <a data-v-949c1ac6="" href="{:url('index/item/index')}?sort=1" class="">
                    <button data-v-949c1ac6="" type="button" class="el-button btn el-button--primary "><!---->
                        <!----><span>查看推荐项目</span></button>
                </a></div>
        </div>
    </div>

</div>
<!--<script type="text/javascript" src="__STATIC__/index/js/manifest.4c70778beadeccbf5422.js"></script>-->
<script type="text/javascript" src="__STATIC__/index/js/vendor.ca774af52bc39667be8d.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/app.e7671a9f70033ac0eaad.js"></script>
<script type="text/javascript">
    showPie();
    showRadar();
    $('.el-dropdown-selfdefine').click(function(){
        var display = $('#dropdown-menu-2549').css('display');
        if(display == 'none'){
            $('#dropdown-menu-2549').css({display: 'block'});
        }else{
            $('#dropdown-menu-2549').css({display: 'none'});
        }
    })
    $("#dropdown-menu-2549 li").click(function(){

        console.log("this",$(this));
        $('.el-dropdown-selfdefine span').html($(this)[0].dataset.type);

    //   todo 调用接口
        //接口回调 开始
        $('#max .money').html('20万')
        $('#max .icon_col').css({height: '70%'})
        $('#min .money').html('30万')
        $('#min .icon_col').css({height: '80%'})
        $('#avg .money').html('40万')
        $('#avg .icon_col').css({height: '90%'})
        $('#dropdown-menu-2549').css({display: 'none'});
        //接口回调 结束
    })
    function showPie(){
        let myChart = echarts.init(document.getElementById('canvasRing'));
        $.ajax({
            type: "POST",
            url: "{:url('index/assess/piechart')}",
            data:{},
            success: function(data){
             let   all_cate_count= data;  console.log('data',data);
                var  option = {
                    legend: {
                        // show: false,
                        // orient: 'vertical',
                        x: 'center',
                        top: 'bottom',
                        // data: this.cateName
                        textStyle:{
                            color: "#BAFFFC"
                        }
                    },
                    label:{
                        show:false,

                    },
                    series: [
                        {
                            type:'pie',
                            radius: ['55%', '65%'],
                            center:['50%','40%'],
                            avoidLabelOverlap: false,
                            label: {
                                show: false,
                                position: 'center',
                                emphasis: {
                                    show: true,
                                    textStyle: {
                                        fontSize: '30',
                                        fontWeight: 'bold'
                                    }
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: false
                                }
                            },
                            data: all_cate_count,
                            itemStyle: {
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                },
                                normal:{
                                    color:function(params) {
                                        //自定义颜色
                                        var colorList = ['#ffef01','#fdc800','#f29700','#eb6001',
                                            '#e50112', '#e80137','#e80151','#e6006a',
                                            '#e6007f', '#bf0081','#950684','#611786',
                                            '#1d2087', '#01499e','#0168b5','#0186d3',
                                            '#00a1e9', '#019fc2','#029f98','#009c6d',
                                            '#009946', '#23ac3a','#90c320','#d0dc00'];
                                        return colorList[params.dataIndex]
                                    }
                                }
                            }
                        }
                    ]
                };
                myChart.setOption(option);
            }
        })


    }
    function showRadar(){
        let myChart = echarts.init(document.getElementById('canvasRadar'));
        var pid = $("#pid").val();
        $.ajax({
            type: "POST",
            url: "{:url('index/assess/radarchart')}",
            data:{
                'pid':pid,
            },
            success: function(data){
                console.log('data',data);
                let dcs = data;
                if(dcs[4]>200){
                    dcs[4] = 200;
                }
                let option = {
                    legend: {},

                    // polar:{radius:'80%'},
                    radar: {
                        radius: '70%',
                        center:['50%','50%'],

                        splitNumber: 3,
                        // shape: 'circle',
                        indicator: [
                            { name: '平均', max: 200},
                            { name: '最低', max: 200},
                            { name: '平均最高', max: 200},
                            { name: '平均最低', max: 200},
                            { name: '最高', max: 200}
                        ]
                    },
                    series: [{
                        type: 'radar',
                        areaStyle: {normal: {
                                color: 'RGBA(34, 155, 178, 0.5)',
                            }},
                        lineStyle: {
                            color: '#2594B9'
                        },
                        data : [
                            {
                                value : dcs
                            }
                        ]
                    }]
                };
                myChart.setOption(option);
            }
        })

    }
</script>
{/block}
