<!--继承模板-->
{extend name="defa/defa" /}
<!--title-->
{block name="title"}项目详情{/block}
<!--keywords-->
{block name="keywords"}"加盟指南,加盟指南栏目,加盟指南网,项目加盟指南,创业好项目加盟指南，招商外包服务，专业招商外包服务公司，只做招商外包服务"{/block}
<!--description-->
{block name='description'}"加盟指南网是为招商加盟企业提供招商外包服务的专业招商外包服务平台，平台设有加盟指南栏目,为加盟者提供各招商行业的加盟指南资讯,最新的加盟指南数据分析，创新的推送加盟线索招商外包服务模式对招商企业提供专业的招商外包服务,使其招商成功，招商外包服务热线:400-619-8882。"{/block}
{block name="content"}
<style type="text/css">
  .photoBox{
    display: block;
    width: 286px;
    height: 286px;
    margin-bottom: 12px;
    overflow: hidden;
  }
  .photoBox img{
    margin-bottom: 0!important;
  }
  .el-radio{
    margin-right: 15px!important;
  }
  .el-radio__label{
    padding-left: 0!important;
  }
  .consultBg{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9990;
  }
  .consultCase{
    width: 386px;
    height: 520px;
    padding: 0 15px 0 25px;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin:-260px 0 0 -213px;
    z-index: 9992;
  }
  .consultCase h2{
    padding: 20px 20px 30px;
    text-align:center;
    font-size: 18px;
  }
  .consultCase .close{
    width: 20px;
    height: 20px;
    background: url(__STATIC__/index/image/close.png) no-repeat;
    background-size: 100%;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 10;
    cursor: pointer;
  }
  .consultCase .row{
    margin-bottom: 16px;
  }
  .consultCase .name{
    width: 70px;
    line-height: 41px;
    text-align: right;
    color: #666;
    margin-right: 10px;
  }
  .consultCase .name i{
    color: #f00;
  }
  .consultCase .commonInp{
    width: 290px;
    height: 39px;
    line-height: 39px;
    text-indent: 10px;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
  }
  .consultCase .picInp{
    width: 180px;
  }
  .consultCase .picBtn{
    float: left;
    width: 105px;
    height: 41px;
    line-height: 41px;
    margin-left: 5px;
  }
  .consultCase .checkBtn{
    float: left;
    width: 103px;
    height: 39px;
    font-size: 12px;
    line-height: 39px;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    text-align: center;
    margin-left: 5px;
  }
  .textArea{
    width: 270px;
    height: 60px;
    padding: 10px;
    border: 1px solid #dcdfe6;
    border-radius: 2px;
    resize: none;
    margin-left: 80px;
  }
  .commitBtn{
    display: block;
    width: 75px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #409eff;
    color: #fff;
    border-radius: 4px;
    margin: 0 auto;
  }
  .consultBox {
    width: 885px;
    height: auto;
    padding-bottom: 20px;
    background: #fff;
    margin: 20px 0;
  }
  .consultBox .title {
    height: 62px;
    line-height: 62px;
    background: #F0F7FF;
    padding: 0 21px 0 24px;
    font-size: 14px;
    color: #999;
  }
  .consultBox .title h3 {
    font-size: 18px;
    color: #000;
  }
  .consultBox .consultDL {
    margin: 0 20px;
    padding: 27px 0;
    border-bottom: 1px dashed #E3E4E5;
  }
  .consultBox .consultDL dt {
    width: 56px;
    height: 56px;
  }
  .consultBox .consultDL dt img {
    display: block;
    width: 56px;
    height: 56px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  .consultBox .consultDL dd {
    width: 760px;
  }
  .consultBox .consultDL dd .inf {
    height: 30px;
    line-height: 30px;
    color: #999;
  }
  .consultBox .consultDL dd .inf span:nth-child(1) {
    font-size: 16px;
    color: #333;
  }
  .consultBox .consultDL dd .word {
    margin-top: 3px;
    line-height: 26px;
  }
  .consultBox .lookBtn {
    display: block;
    width: 80px;
    text-align: center;
    color: #999;
    margin: 20px auto 0;
    cursor: pointer;
  }
</style>
<div id="app">
  <div data-v-4b135571="" class="list">
    <div data-v-4b135571="" class="greyBg">
      <div data-v-4b135571="" class="wrapper clearfix">
        <p data-v-4b135571="" class="adress">您的位置：
          <a data-v-4b135571="" href="{:url('index/index/rankinglist')}?cateid=undefined" class="">{$data.father_cate_name}</a> &gt;
          <a data-v-4b135571="" href="{:url('index/index/rankinglist')}?cateid=undefined&amp;childid=undefined" class="">{$data.cate_name}</a> &gt;
        </p>
        <div data-v-4b135571="" class="detailLeft">
          <div data-v-4b135571="" class="itemBox clearfix">
            <div data-v-4b135571="" class="itemPic">
              <div class="photoBox">
                {foreach $data.image as $key => $value}
                <img data-v-4b135571="" src="{$value}" class="bigPic">
                {/foreach}
              </div>
              <div data-v-4b135571="" class="between">
                {foreach $data.image as $key => $value}
                <label data-v-4b135571="" class="border">
                  <img data-v-4b135571="" src="{$value}">
                  <span data-v-4b135571="" class="border"></span>
                </label>
                {/foreach}
              </div>
            </div>
            <div data-v-4b135571="" class="itemDesc"><h2 data-v-4b135571=""></h2>
              <p data-v-4b135571="" class="price">{$data.min_money}~{$data.max_money}万元</p>
              <p data-v-4b135571="" class="suit"><span data-v-4b135571="">所属行业：{$data.cate_name}</span>
                <span data-v-4b135571="">适合人群：{$data.crowd}</span>
              </p>
              <div data-v-4b135571="" class="numBox around">
                <label data-v-4b135571="" class="block">
                  <b data-v-4b135571="">{$data.shop_count}家</b> <i data-v-4b135571="">直营店</i>
                </label>
                <span data-v-4b135571="" class="line"></span>
                <label data-v-4b135571="" class="block">
                  <b data-v-4b135571="">{$data.fran_store_num}家</b> <i data-v-4b135571="">加盟店</i>
                </label>
                <span data-v-4b135571="" class="line"></span>
                <label data-v-4b135571="" class="block">
                  <b data-v-4b135571="">{$data.item_area}</b> <i data-v-4b135571="">加盟区域</i>
                </label>
                <span data-v-4b135571="" class="line"></span>
                <label data-v-4b135571="" class="block"><b data-v-4b135571="">{$data.apply}人</b> <i data-v-4b135571="">申请加盟</i></label>
              </div>
              <div data-v-4b135571="" class="btnsBox between">
                <span data-v-4b135571="" class="consultBtn" onclick="showConsultModal(1)">立即咨询</span>
                <span data-v-4b135571="" class="planBtn" onclick="showConsultModal(2)">获取开店方案</span>
                <span data-v-4b135571="" id="followlike" class="collectBtn {if $data.is_like == 1} on {/if}"><i data-v-4b135571="" class="iconfont icon-collect"></i></span><!--关注-->
                <input type="hidden" id="is_like"value="{$data.is_like}">
                <span data-v-4b135571="" id="followfoll" class="focusBtn {if $data.is_foll == 1} on {/if}"><i data-v-4b135571="" class="iconfont icon-focus"></i></span><!--收藏-->
                <input type="hidden" id="is_foll"value="{$data.is_foll}">
              </div>
                <p data-v-4b135571="" class="yellowWord">
                  <span data-v-4b135571="">项目关注 <b data-v-4b135571="">{$data.followcount}</b></span>
                  <span data-v-4b135571="">项目收藏 <b data-v-4b135571="">{$data.collectcount}</b></span>
                  <span data-v-4b135571="">项目咨询 <b data-v-4b135571=""></b>{$data.count}</span>
                </p>
            </div>
          </div>
          <div data-v-4b135571="" class="introBox">
            <h3 data-v-4b135571="">项目详情</h3>
            <div data-v-4b135571="" class="content">
              {$data.detail}
            </div>
          </div>
          <div data-v-4b135571="" class="consultBox">
            <div data-v-4b135571="" class="title between"><h3 data-v-4b135571="">用户咨询</h3>
              <span data-v-4b135571="">{$data.apply}人申请加盟</span>
            </div>
            <dl class="consultDL between" v-for="(item,i) in consult.data">
              <dt><img :src="item.avatar"></dt>
              <dd>
                <p class="inf between">
                  <span>{{item.username}}</span>
                  <span>{{item.addtime}}</span>
                </p>
                <p class="word">{{item.content}}</p>
              </dd>
            </dl>
            <span class="lookBtn" v-if="consult.count>4">查看更多 <i class="el-icon-caret-bottom"></i></span>
          </div>
          <div data-v-4b135571="" class="onceBox">
            <div data-v-4b135571="" class="title"><h3 data-v-4b135571="">立即咨询</h3></div>
            <div data-v-4b135571="" class="conContent clearfix between">
              <div data-v-4b135571="" class="row clearfix clearfix">
                <div data-v-4b135571="" class="column between">
                  <label data-v-4b135571="">姓名</label> 
                  <input data-v-4b135571="" type="text" name="name" id="cname" placeholder="请输入您的姓名" class="nameInp">
                  <div data-v-4b135571="" class="fr" style="line-height:40px;margin-left:7px;">
                    <label class="el-radio sexLabel">
                      <input type="radio" name="csex" checked="">
                      <span class="el-radio__label">男</span>
                    </label>
                    <label class="el-radio sexLabel">
                      <input type="radio" name="csex">
                      <span class="el-radio__label">女</span>
                    </label>
                  </div>
                </div>
                <div data-v-4b135571="" class="column between"><label data-v-4b135571="" class="leave">留言</label>
                  <textarea data-v-4b135571="" id="consult" placeholder="请输入留言内容"></textarea></div>
              </div>
              <div data-v-4b135571="" class="row clearfix clearfix">
                <div data-v-4b135571="" class="column between"><label data-v-4b135571="">手机号</label>
                  <input data-v-4b135571="" type="text" id="phone" placeholder="请输入您的手机号" class="textInp phone"></div>
                <div data-v-4b135571="" class="column between"><label data-v-4b135571="">图片验证</label>
                  <input data-v-4b135571="" id="icode" type="text" placeholder="请输入图片验证验证码" class="checkInp">
                  <img src="{:captcha_src()}" class="captcha" width="95" height="45" onclick="this.src='{:captcha_src()}'">
                </div>
                <div data-v-4b135571="" class="column between">
                  <label data-v-4b135571="">验证码</label>
                  <div data-v-4b135571="" class="between" style="width: 322px;">
                    <input data-v-4b135571="" id="pcode" type="text" placeholder="请输入手机验证码" class="checkInp">
                    <span data-v-4b135571="" class="checkBtn" onclick="getCode(this)">获取验证码</span></div>
                </div>
              </div>
            </div>
            <div data-v-4b135571="" class="commitBtn" onclick="submitConsultData()">提交</div>
          </div>
        </div>
        <div data-v-4b135571="" class="detailRight">
          <div data-v-4b135571="" class="companyInf">
            <div data-v-4b135571="" class="title between"><h3 data-v-4b135571="">公司信息</h3></div>
            <dl data-v-4b135571="">
              <dt data-v-4b135571="">
                <img data-v-4b135571="" src="{$user.logo}">
                <p data-v-4b135571=""></p></dt>
              <dd data-v-4b135571=""><p data-v-4b135571="">公司性质：{$user.character}</p>
                <p data-v-4b135571="">注册资金：{$user.money}万元</p>
                <p data-v-4b135571="">经营范围：{$user.scope}</p>
                <p data-v-4b135571="">品牌注册时间：{$user.brand_make_time}</p>
                <p data-v-4b135571="">注册地址：{$user.address}</p></dd>
            </dl>
          </div>
          <div data-v-673d4749="" data-v-4b135571="" class="hotOrder hotOrder">
            <div data-v-673d4749="" class="title clearfix"><span data-v-673d4749="" class="fl">加盟项目排行榜</span>
              <a data-v-673d4749="" href="{:url('index/item/index')}" class="fr more"> 更多
                <span data-v-673d4749="" class="el-icon-arrow-right"></span>
              </a>
            </div>
            <div data-v-673d4749="" class="list">
              {foreach $ranking as $key => $value}
              <a data-v-673d4749="" href="{:url('index/item/detail')}?id={$value.id}" class="item clearfix">
                <div data-v-673d4749="" class="order fl">{$key+1}</div>
                <div data-v-673d4749="" class="name fl">{$value.brand}</div>
                <div data-v-673d4749="" class="count fr">{$value.read_num}</div>
              </a>
              {/foreach}
            </div>
          </div>
          <div data-v-2e73e232="" data-v-4b135571="" class="industryList IndustryList">
            <div data-v-2e73e232="" class="title clearfix">
              <span data-v-2e73e232="" class="fl">行业资讯</span>
              <a data-v-2e73e232="" href="{:url('index/article/index')}?type=1" class="fr more"> 更多
                <span data-v-2e73e232="" class="el-icon-arrow-right"></span></a>
            </div>
            <div data-v-2e73e232="" class="special">
              <a data-v-2e73e232="" href="{:url('index/article/detail')}?id={$artData['rArticle']['id']}" class="">
                <img data-v-2e73e232="" src="{$artData['rArticle']['img']}" alt="">
                <div data-v-2e73e232="">{{$artData['rArticle']['title']}}</div>
              </a>
            </div>
            <ul data-v-2e73e232="">
              {foreach $artData['list'] as $key => $value}
              <li data-v-2e73e232="">
                <a data-v-2e73e232="" href="{:url('index/article/detail')}?id=100" class="">{$value.title}</a>
              </li>
              {/foreach}
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- 立即咨询 -->
<div class="consultBg" id="consultModal" style="display: none">
<!--    <form action="{:url('index/Consult/addConsultData')}" method="post" id="addconsult" accept-charset="utf-8">-->
      <input type="hidden" id="tid" value="{$data.id}">
      <div class="consultCase">
        <h2>立即咨询</h2>
        <span class="close" onclick="hideConsultModal()"></span>

        <div class="row clearfix">
          <label class="fl name"><i>*</i> 姓名</label>
          <input class="fl commonInp" type="text" name="name" id="name" placeholder="请输入您的姓名">
        </div>
        <div class="row clearfix">
          <label class="fl name"><i>*</i> 性别</label>
          <div class="fl" style="line-height:40px;">
            <label class="el-radio sexLabel">
              <input type="radio" name="sex" value="1" checked="">
              <span class="el-radio__label">男</span>
            </label>
            <label class="el-radio sexLabel">
              <input type="radio" name="sex">
              <span class="el-radio__label" value="0">女</span>
            </label>
          </div>
        </div>
        <div class="row clearfix">
          <label class="fl name"><i>*</i> 手机号</label>
          <input class="fl commonInp phone" id="mobile" type="text" name="mobile" placeholder="请输入您的手机号">
        </div>
        <div class="row clearfix">
          <label class="fl name"><i>*</i> 图片验证</label>
          <input class="fl commonInp picInp" type="text" id="imgCode" name="imgCode" placeholder="请输入图片验证码">
          　<img src="{:captcha_src()}" width="95" height="45" onclick="this.src='{:captcha_src()}'">
        </div>
        <div class="row clearfix">
          <label class="fl name"><i>*</i> 验证码</label>
          <input class="fl commonInp picInp" type="text" id="code" name="code" placeholder="请输入手机验证码">
          <span class="checkBtn" onclick="getMobileCode(this)">获取验证码</span>
        </div>
        <div class="row">
          <textarea class="textArea" name="content" id="content" placeholder="请输入您要咨询的内容"></textarea>
        </div>
        <div class="commitBtn" onclick="submitForm()">
<!--          <button class="commitBtn" onclick="submitForm()" type="button">-->
          提交
<!--          </button>-->
        </div>
  </div>
<!--  </form>-->
</div>


<script type="text/javascript">
  function showConsultModal(){
    $("#consultModal").css({display: 'block'});
  }
  function hideConsultModal(){
    $("#consultModal").css({display: 'none'});
  }
  function submitForm(){
    var name = $("#name ").val();
    var mobile = $("#mobile ").val();
    var code = $("#code ").val();
    var content = $("#content ").val();
    var item_id = $("#tid").val();

    // if(name && mobile && code && content ){
    //   $("#addconsult").submit();
    // }else{
    //   console.log('请输入');
    //   layer.msg('请输入');
    // }
    $("#formData").serializeArray();
    console.log('  $("#formData").serializeArray()',  $("#formData").serializeArray());
    // 所有的数据 自行提交吧
    var forData = $("#formData").serializeArray();
    $.ajax({
      type: "POST",
      url: "{:url('index/consult/add_consult')}",
      data:{
        name:name,
        phone:mobile,
        code:code,
        content:content,
        item_id:item_id,
      },
      success: function(data){
        console.log('data',data);
        if(data.code != 200){
          layer.msg(data.msg);
          console.log('msg',data.msg);
        }else{
          layer.msg(data.msg);
          console.log('msg',data.msg);
        }
      }
    });
    hideConsultModal()
  }
  //banner
  $('.itemPic .between>label:first').addClass('active');
  $(".itemPic .between>label").click(function(){
    $(this).addClass("active").siblings().removeClass("active");
    $(".photoBox").children(":eq("+$(this).index()+")").show().siblings().hide();
  });
  //收藏
  $('.collectBtn').click(function(){
    //获取收藏状态
    var tid = $("#tid").val();
    $.ajax({
      type: "POST",
      url: "{:url('index/follow/modify_foolow')}",
      data:{
        tid:tid,
        type:2,
      },
      success: function(data){
        console.log('data',data);
        if(data.code == 301){
          layer.msg('未登录.请先登录');
          window.location.href = "{:url('index/login/login')}";
        }
        if(data.code == 400){
          layer.msg('内部错误');
        }
        if(data.code == 200){
          if($("#followlike").is('.on')){
            //取消收藏
            $("#followlike").removeClass('on');
            layer.msg('取消收藏成功');
          }else{
            //收藏
            $("#followlike").addClass('on');
            layer.msg('收藏成功');
          }

        }
      }
    });
  })
  //关注
  $('.focusBtn').click(function(){
    var tid = $("#tid").val();
    $.ajax({
      type: "POST",
      url: "{:url('index/follow/modify_foolow')}",
      data:{
        tid:tid,
        type:2,
      },
      success: function(data){
        console.log('data',data);
        if(data.code == 301){
          layer.msg('未登录.请先登录');
          window.location.href = "{:url('index/login/login')}";
        }
        if(data.code == 400){
          layer.msg('内部错误');
        }
        if(data.code == 200){
          console.log('code',data.code);

          if($("#followfoll").is('.on')){
            //取消收藏
            $("#followfoll").removeClass('on');
            layer.msg('取消关注');
          }else{
            //收藏
            $("#followfoll").addClass('on');
            layer.msg('关注成功成功');
          }
        }
      }
    });
  })
  //验证手机格式
  function validatePhone (phone) {
    layer.alert(phone);
    // // let phone = '';
    // console.log("$('.phone')",phone);
    //
    // if($('#consultModal').css('display') == 'none'){
    //   phone = $('.phone')[0].value;
    // }else{
    //   phone = $('.phone')[1].value;
    // }
    // console.log('phone',phone);
    // layer.msg('请输入手机号码',{icon:2});
    console.log('validatePhone',phone);
    if (!phone) {
      layer.msg('请输入手机号码',{icon:2});
      console.log('请输入手机号');
      return false;
    }
    if (phone.length != 11) {
      console.log('手机号格式不正确');
      layer.msg('手机号码格式不正确',{icon:2});
      return false;
    }
    return true;
  }
  //验证图片验证码
  function validateImgCode(imgCode){
      console.log('imgcode',imgCode);
      if(!imgCode){
        layer.msg('请输入图片验证码',{icon:2});
        console.log('请输入图片验证码');
        return false;
      }
  }

  //获取验证码
  let intervalID = '';
  function getCode (e){
    //验证手机号
    console.log('页脚立即咨询');
    var phone = $("#phone").val();
    console.log('phone',phone);
    var resPhone = validatePhone(phone);
    if(!resPhone){
      return
    }
    //验证图片验证码
    var imgCode = $("#icode").val();
    console.log('imgCode',imgCode);
    var resImg = validateImgCode(imgCode);
    if(!resImg){
      return
    }
    //请求短信接口
    $.ajax({
      type: "POST",
      url: "{:url('index/login/get_code')}",
      data:{
        phone:phone,
        icode:imgCode,
      },
      success: function(data){
        console.log('data',data);
        if(data.code != 200){
          console.log('msg',data.msg);
          layer.msg(data.msg,{icon:1});
          return ;
        }
        if(data.code == 200){
          console.log('msg','验证码发送成功');
          layer.msg('验证码发送成功',{icon:1});
          let outTime = 60;
          console.log($(e));
          intervalID = setInterval(function(){
            if(outTime == 0){
              outTime = 60;
              clearInterval(intervalID)
              $(e).html('获取验证码');
              return
            }
            outTime--;
            $(e).html(outTime+'S后可重新获取');
          },1000);
        }
      }
    })
  }

  function getMobileCode(e) {
    //验证手机号
    console.log('立即咨询');
    var phone = $("#mobile").val();
    console.log('phone',phone);
    var resPhone = validatePhone(phone);
    if(!resPhone){
      return
    }
    //验证图片验证码
    var imgCode = $("#imgCode").val();
    console.log('imgCode',imgCode);
    var resImg = validateImgCode(imgCode);
    if(!resImg){
      return
    }
    //请求短信接口
    $.ajax({
      type: "POST",
      url: "{:url('index/login/get_code')}",
      data:{
        phone:phone,
        icode:imgCode,
      },
      success: function(data){
        console.log('data',data);
        if(data.code != 200){
          console.log('msg',data.msg);
          layer.msg(data.msg,{icon:1});
          return ;

        }
        if(data.code == 200){
          console.log('msg','验证码发送成功');
          layer.msg('验证码发送成功',{icon:1});
          let outTime = 60;
          console.log($(e));
          intervalID = setInterval(function(){
            if(outTime == 0){
              outTime = 60;
              clearInterval(intervalID)
              $(e).html('获取验证码');
              return
            }
            outTime--;
            $(e).html(outTime+'S后可重新获取');
          },1000);
        }
      }
    })
  }

  function submitConsultData(){
    // csex
    var sex = $('input:radio[name="csex"]:checked').val();
    var tid = $("#tid").val();
    var cname = $("#cname").val();
    var consult = $("#consult").val();
    var pcode = $("#pcode").val();
    var phone = $("#phone").val();
    $.ajax({
      type: "POST",
      url: "{:url('index/consult/add_consult')}",
      data:{
        name:cname,
        phone:phone,
        code:pcode,
        content:consult,
        item_id:tid,
        sex:sex,
      },
      success: function(data){
        console.log('data',data);
        if(data.code != 200){
          layer.msg(data.msg);
          console.log('msg',data.msg);
        }else{
          layer.msg(data.msg);
          console.log('msg',data.msg);
        }
      }
    });
  }
</script>
{/block}

