<!--继承模板-->
{extend name="defa/defa" /}
<!--title-->
{block name="title"}{/block}
<!--keywords-->
{block name="keywords"}{/block}
<!--description-->
{block name='description'}{/block}
<!--index js && css -->
{block name="index"}
<link href="__STATIC__/index/css/app.6e8fecf9baa6cf278e54a8181d44c5e4.css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" async="" src="__STATIC__/index/js/0.f5ed0d9d7e597a228142.js"></script>
<script type="text/javascript" charset="utf-8" async="" src="__STATIC__/index/js/17.2ca34d5d16f167d8013d.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
{/block}
<!--<div id="app">-->
{block name="content"}
<style>
    .midMid{
        padding-top: 10px;
    }
    .swiper-container{
        width: 596px;
        height: 316px;
    }

    .swiper-slide{
        width: 100%;
        height:  316px;
    }

    .swiper-slide img{
        width: 100%;
        height: 100%;
    }
</style>
  <div data-v-78041906="" class="rankingList">
    <div data-v-78041906="" class="wrapper box1">
      <div data-v-78041906="" class="box1">
        <div data-v-78041906="" class="longBanners"></div>
        <div data-v-78041906="" class="ranking">
          <div data-v-78041906="" class="title clearfix"><span data-v-78041906="" class="fl">推荐品牌排行榜</span></div>
              <div data-v-78041906="" class="list">
                  {foreach $recoRank as $key => $value}
                  <a data-v-78041906="" href="{:url('index/item/detail')}?id={$value.id}" class="item clearfix">
                    <div data-v-78041906="" class="order fl">{$key+1}</div>
                    <div data-v-78041906="" class="name fl">{$value.brand}</div>
                    <div data-v-78041906="" class="count fr">{$value.read_num}</div>
                  </a>
                  {/foreach}
              </div>
        </div>
        <div class="midMid">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {foreach $imageData[0] as $key => $value}
                        <div class="swiper-slide">
                            <a data-v-64375f02="" href="{$value.link}" class="small">
                                <img data-v-64375f02="" src="{$value.img}">
                            </a>
                        </div>
                        {/foreach}
                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination"></div>
                </div>

          <div data-v-78041906="" class="choice">
              <p data-v-78041906="" class="title">
                  <span data-v-78041906="">精选推荐 :</span>
                  {foreach $synRank as $key=> $value}
                  <a data-v-78041906="" href="{:url('index/item/detail')}?id={$value.id}" class=""> {$value.brand}</a>
                  {/foreach}
              </p>
          </div>
        </div>
        <div data-v-78041906="" class="ranking">
          <div data-v-78041906="" class="title clearfix">
              <span data-v-78041906="" class="fl">综合品牌排行榜</span>
          </div>
          <div data-v-78041906="" class="list">
              {foreach $synRank as $key => $value}
              <a data-v-78041906="" href="/detail?id=1130" class="item clearfix">
                <div data-v-78041906="" class="order fl">{$key+1}</div>
                <div data-v-78041906="" class="name fl">{$value.brand}</div>
                <div data-v-78041906="" class="count fr">{$value.read_num}</div>
              </a>
              {/foreach}
          </div>
        </div>
        <div data-v-78041906="" class="longBanners">
            {foreach $imageData[1] as $key => $value}
            <span data-v-78041906="">
                <a data-v-78041906="" href="{$value.link}" class="">
                    <img data-v-78041906="" src="{$value.img}">
                </a>
            </span>
            {/foreach}
        </div>
          {foreach $brandRank as $key => $value}
        <div data-v-78041906="" class="ranking">
          <div data-v-78041906="" class="title clearfix">
              <span data-v-78041906="" class="fl">十大<span data-v-78041906="" class="strong">{$value.cate_name}</span>品牌排行榜</span>
          </div>
          <div data-v-78041906="" class="list">
              {foreach $value.item_data as $k => $v}
              <a data-v-78041906="" href="{:url('index/item/detail')}?id=278" class="item clearfix">
                <div data-v-78041906="" class="order fl">{$key+1}</div>
                <div data-v-78041906="" class="name fl">{$v.brand}</div>
                <div data-v-78041906="" class="count fr">{$v.read_num}</div>
              </a>
              {/foreach}
          </div>
        </div>
          {/foreach}

        <div data-v-78041906="" class="longBanners">
            {foreach $imageData[2] as $key => $value}
            <span data-v-78041906="">
                <a data-v-78041906="" href="{$value.link}" class="">
                    <img data-v-78041906="" src="{$value.img}">
                </a>
            </span>
            {/foreach}
        </div>
      </div>
      <div data-v-78041906="" class="box2 clearfix">
        <div data-v-78041906="" class="recommendBox fl">
          <div data-v-78041906="" class="title clearfix">
              <h2 data-v-78041906="" class="fl">项目推荐</h2>
              <a data-v-78041906="" href="" class="fr">更多 &gt;</a>
          </div>
          <div data-v-78041906="" class="content clearfix">
            {foreach $recoItem as $key => $value}
            <div data-v-78041906="" class="box">
                <a data-v-78041906="" href="{:url('index/item/detail')}?id={$value.id}" class="">
                    <img data-v-78041906="" src="{$value.img}">
                    <span data-v-78041906="" class="name over">{$value.item_name} {$value.money}万</span>
                  <p data-v-78041906="" class="desc clearfix"><b data-v-78041906="" class="fl">￥{$value.money}万</b>
                      <span data-v-78041906="" class="fr">门店: {$value.shop_count}家</span>
                  </p>
                </a>
            </div>
              {/foreach}
          </div>
        </div>
          <div data-v-2e73e232="" data-v-645de51c="" class="industryList fr industryList">
              <div data-v-2e73e232="" class="title clearfix"><span data-v-2e73e232="" class="fl">行业资讯</span>
                  <a data-v-2e73e232="" href="{:url('index/article/index')}" class="fr more"> 更多 <span data-v-2e73e232="" class="el-icon-arrow-right"></span></a>
              </div>
              <div data-v-2e73e232="" class="special">
                  <a data-v-2e73e232="" href="{:url('index/article/detail')}?id={$artData['rArticle']['id']}" class="">
                      <img data-v-2e73e232="" src="{$artData['rArticle']['img']}" alt="">
                      <div data-v-2e73e232="">{$artData['rArticle']['title']}</div>
                  </a>
              </div>
              <ul data-v-2e73e232="">
                  {foreach $artData['aticle'] as $key => $value}
                  <li data-v-2e73e232="">
                      <a data-v-2e73e232="" href="{:url('index/article/detail')}?id={$value.id}" class="">{$value.title}</a>
                  </li>
                  {/foreach}
              </ul>
          </div>
      </div>
    </div>
  </div>
<script type="text/javascript">
    var mySwiper = new Swiper ('.swiper-container', {
        direction: 'horizontal', // 水平切换选项
        loop: true, // 循环模式选项

        // 如果需要分页器
        pagination: {
            el: '.swiper-pagination',
        },

        // 如果需要前进后退按钮
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // 如果需要滚动条
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    })
</script>
  {/block}
<!--</div>-->
