<!--继承模板-->
{extend name="defa/defa" /}
<!--title-->
{block name="title"}{$title}{/block}
<!--keywords-->
{block name="keywords"}{/block}
<!--description-->
{block name='description'}{/block}
<!--index js && css -->
{block name="index"}
<link href="__STATIC__/index/css/app.6e8fecf9baa6cf278e54a8181d44c5e4.css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" async="" src="__STATIC__/index/js/0.f5ed0d9d7e597a228142.js"></script>
<script type="text/javascript" charset="utf-8" async="" src="__STATIC__/index/js/17.2ca34d5d16f167d8013d.js"></script>
<link href="__STATIC__/admin/css/xadmin.css" rel="stylesheet">
<style>
  .clearfix:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
  }
  .clearfix {
    zoom: 1
  }
  .greyBg {
    width: 100%;
    padding: 20px 0 80px;
    background: #F4F5FA;
  }
  .enterBox {
    width: 1200px;
    height: 640px;
    margin: 0 auto;
    background: #fff;
  }
  .enterBox .title {
    height: 60px;
    border-bottom: 1px solid #E3E4E5;
    margin-bottom: 40px;
  }
  .enterBox .title h2 {
    width: 66px;
    height: 58px;
    line-height: 58px;
    border-bottom: 2px solid #4F74F4;
    font-size: 16px;
    color: #333;
    text-align: center;
    margin-left: 33px;
  }
  .enterBox .row{
    margin-bottom: 22px;
    position: relative;
  }
  .enterBox .row label{
    float: left;
    text-align: right;
    width: 80px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #606266;
    line-height: 40px;
    padding: 0 12px 0 0;
  }
  .enterBox .row .commonInp{
    float: left;
    width: 290px;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
  }
  .enterBox .enterContent {
    width: 430px;
    padding-left: 40px;
  }
  .enterBox .picYz {
    width: 105px;
    height: 40px;
    position: absolute;
    left: 308px;
    top: 1px;
    z-index: 10;
    cursor: pointer;
  }
  .enterBox .messageBtn {
    width: 125px;
    height: 22px;
    line-height: 22px;
    border-left: 1px solid #E3E4E5;
    text-align: center;
    position: absolute;
    right: 17px;
    top: 8px;
    color: #5389F7;
    cursor: pointer;
  }
  .enterBox .submitBtn {
    margin: 20px 0 0 81px;
    width: 98px;
    height: 40px;
    line-height: 40px;
    background-color: #409eff;
    color: #fff;
    border-radius: 4px;
  }
  .personalHeader {
      width: 100%;
      background: #fff;
      padding: 15px 0;
  }
  .personalHeader .content {
      display: flex;
      justify-content: space-between;
  }
  .personalHeader .logo {
      width: 194px;
      height: 70px;
  }
  .personalHeader .tabs {
      height: 70px;
      line-height: 70px;
  }
  .personalHeader .tabs a {
      display: inline-block;
      width: 100px;
      text-align: right;
      cursor: pointer;
  }
  .personalHeader .tabs a:hover {
      color: #579EFA;
  }
</style>
{/block}
{block name="header"}{/block}
{block name="content"}
<div data-v-5eef6683="" class="common-header">
    <div data-v-5eef6683="" class="body wrapper">
        <div data-v-5eef6683="" class="left">
            欢迎来到加盟指南网！ 全国服务热线：400-619-8882
        </div>
        <div data-v-5eef6683="" class="right">
            <div data-v-5eef6683="" class="phoneVersion">
                <span data-v-5eef6683="" class="iconfont icon-phone"></span>
                <span
                        data-v-5eef6683="">手机版</span>
                <img data-v-5eef6683="" src="__STATIC__/index/img/wap_qrcode.475f601.jpg" alt="手机二维码"
                     class="QRcode">
            </div>
            <div data-v-5eef6683="" class="weChatVersion">
                <span data-v-5eef6683="" class="iconfont icon-weChat"></span>
                <span data-v-5eef6683="">微信版</span>
                <img data-v-5eef6683="" src="__STATIC__/index/img/wx_qrcode.d7de962.jpg" alt="微信二维码" class="QRcode">
            </div>
            <div data-v-5eef6683="">
                {if $_SESSION['jmzn_web']['uid'] !== false}
                <a data-v-5eef6683="" href="{:url('index/user/index')}" class=""><span data-v-5eef6683="" class="name">您好，{$_SESSION['jmzn_web']['username']}</span></a>
                &nbsp;&nbsp;<a href="{:url('index/login/logout')}"><span data-v-5eef6683="">退出登陆</span></a>
                {else}
                <a data-v-5eef6683="" href="{:url('index/login/login')}" class="">登陆</a>
                {/if}
            </div>
        </div>
    </div>
</div>
<div>
    <div class="personalHeader">
        <div class="wrapper content">
            <a href="/">
                <img class="logo" src="../../static/image/logo.png" alt="">
            </a>
            <div class="tabs">
                <a href="/">首页</a>
                <a href="/list">找项目</a>
                <a href="/rankingList">排行榜</a>
                <a href="/news">行业资讯</a>
            </div>
        </div>
    </div>
</div>
<a>
  <div class="personal">
    <div class="greyBg">
      <div class="enterBox">
        <div class="title">
          <h2>企业入驻</h2>
        </div>
        <div class="enterContent">
            <div class="row clearfix">
              <label>品牌名</label>
              <input class="commonInp brand" type="text" placeholder="请输入品牌名" >
            </div>
            <div class="row clearfix">
              <label>公司名</label>
              <input class="commonInp company" type="text" placeholder="请输入公司名" >
            </div>
            <div class="row clearfix">
              <label>姓名</label>
              <input class="commonInp name" type="text" placeholder="请输入您的姓名" >
            </div>
            <div class="row clearfix">
              <label>注册地址</label>
              <input class="commonInp address" type="text" placeholder="请输入公司注册地址" >
            </div>
            <div class="row clearfix">
              <label>手机号</label>
              <input class="commonInp" id="phone" type="text" placeholder="请输入手机号码" >
            </div>
            <div class="row clearfix">
              <label>图片验证</label>
              <input class="commonInp" type="text" id="icode" name="icode" placeholder="请输入图片验证码" >
              <img class="picYz" src="{:captcha_src()}" onclick="this.src='{:captcha_src()}'">
            </div>
            <div class="row clearfix">
              <label>验证码</label>
              <input class="commonInp" name="pcode" id="pcode" type="text" placeholder="请输入手机验证码" >
              <span class="messageBtn" id="time" onclick="getCode()">获取验证码</span>
            </div>
            <button class="submitBtn" onclick="apply()">提交申请</button>
        </div>
      </div>
    </div>
  </div>
</a>
<script>
    /**验证手机格式**/
    function validatePhone () {
        const phone = $('#phone').val();
        console.log('phone',phone);
        if (!phone) {
            layer.msg('请输入手机号码',{icon:2});
            return false;
        }
        if (phone.length != 11) {
            layer.msg('手机号码格式不正确',{icon:2});
            return false;
        }
        return true;
    };
    /**验证图片验证码**/
    function validateImgCode () {
        const icode = $('#icode').val();
        console.log('imgCode',icode);
        if (!icode) {
            layer.msg('请输入图片验证码',{icon:2});
            return false;
        }
        return true;
    };
    /**获取验证码**/
    let intervalID = '';
    function getCode (){
        //验证手机号
        if(!validatePhone()){
            return
        }
        //验证图片验证码
        if(!validateImgCode()){
            return
        }
        //手机号&&图片验证码
        var phone = $("#phone").val();
        var icode = $('#icode').val();
        let outTime = 60;
        if(intervalID){
            return;
        }
        //ajax获取短信验证码
        $.ajax({
            type: "POST",
            url: "{:url('index/login/get_code')}",
            data:{
                phone:phone,
                icode:icode,
            },
            success: function(data){
                console.log('data',data);
                if(data.code != 200){
                    console.log('msg',data.msg);
                    layer.msg(data.msg,{icon:1});
                    return ;
                }
                if(data.code == 200){
                    console.log('msg','验证码发送成功');
                    layer.msg('验证码发送成功',{icon:1});

                    //定时器
                    intervalID = setInterval(function(){
                        if(outTime == 0){
                            outTime = 60;
                            clearInterval(intervalID)
                            $(e).html('获取验证码');
                            return
                        }
                        outTime--;
                        $("#time").html(outTime+'S后可重新获取');
                    },1000)
                }
            }
        })
    }
    /**提交申请**/
    function apply(){
        var brand = $('.brand').val();
        var company = $('.company').val();
        var name = $('.name').val();
        var address = $('.address').val();
        var brand = $('.brand').val();
        var phone = $('#phone').val();
        var icode = $('#icode').val();
        var pcode = $("#pcode").val();
        if(!address){
            layer.msg('请输入注册地址',{icon:2});
            return false;
        }
        if(!brand){
            layer.msg('请输入品牌名',{icon:2});
            return false;
        }
        if(!company){
            layer.msg('请输入公司名',{icon:2});
            return false;
        }
        if(!name){
            layer.msg('请输入您的姓名',{icon:2});
            return false;
        }
        if(!validatePhone()){
            return false;
        }
        if(!icode){
            layer.msg('请输入图片验证码',{icon:2});
            return false;
        }
        if(!pcode){
            layer.msg('请输入手机验证码',{icon:2});
            return false;
        }
        //发送请求
        $.ajax({
            type: "POST",
            url: "{:url('index/login/ent_resi')}",
            data:{
                'bname':brand,
                'cname':company,
                'name':name,
                'address':address,
                'phone':phone,
                'code':pcode,
            },
            success: function(data){
                console.log('data',data);
                if(data.code == 200){
                    layer.msg('入驻成功,审核中',{icon:1});
                }else{
                    layer.msg(data.msg,{icon:2});
                }
            }
        })
    }

</script>
{/block}