<!--继承模板-->
{extend name="defa/defa" /}
<!--title-->
{block name="title"}文章详情{/block}
<!--keywords-->
{block name="keywords"}{123}{/block}
<!--index-->
{block name="index"}
<link href="__STATIC__/index/css/app.6e8fecf9baa6cf278e54a8181d44c5e4.css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" async="" src="__STATIC__/index/js/0.f5ed0d9d7e597a228142.js"></script>
<script type="text/javascript" charset="utf-8" async="" src="__STATIC__/index/js/17.2ca34d5d16f167d8013d.js"></script>
<style>
  .submitBtn{
    width: 120px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-left: 1px solid #5389F7;
    text-align: center;
    color: #fff;
    background-color: #5389F7;
    cursor: pointer;
    border-radius: 5px;
  }
  .consultDetail {
    background-color: #F4F5FA;
    padding-bottom: 125px;
  }

  /* tabbar */
  .commonNav {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #2F333B;
    font-size: 16px;
    color: #fff;
  }
  .commonNav .all {
    float: left;
    width: 240px;
    height: 40px;
    text-align: center;
    background: #51575D;
  }
  .commonNav .all img, .commonNav .all label {
    display: inline-block;
    vertical-align: middle;
  }
  .commonNav .all img {
    margin: -2px 14px 0 0;
  }
  .commonNav .part a {
    float: left;
    width: 160px;
    height: 40px;
    position: relative;
    color: #fff;
    text-align: center;
  }
  .commonNav .part a.active {
    background: #1A1D21;
  }
  .commonNav .part a.active i {
    width: 34px;
    height: 2px;
    background: -webkit-gradient(linear, 100% 0, 0 0, from(#579EFA), to(#4F74F4));
    background: -webkit-linear-gradient(to bottom, #579EFA, #4F74F4);
    background: -moz-linear-gradient(to bottom, #579EFA, #4F74F4);
    background: -o-linear-gradient(to bottom, #579EFA, #4F74F4);
    background: linear-gradient(to bottom, #579EFA, #4F74F4);
    position: absolute;
    left: 50%;
    margin-left: -17px;
    bottom: 2px;
    z-index: 1;
  }
  .commonNav .issueBtn {
    float: right;
    color: #FEAB17;
  }

  /* tabbar */
  /* 面包屑 */
  .crumbs {
    color: #999;
    font-size: 14px;
    line-height: 60px;
  }

  /* 面包屑 */
  /* 文章 */
  .article {
    width: 895px;
    background-color: #fff;
    padding-top: 41px;
  }
  .article .title {
    font-weight: bold;
    font-size: 22px;
    padding: 0 41px;
  }
  .article .subhead {
    font-size: 12px;
    color: #999;
    padding: 25px 41px;
  }
  .article .collectBtn {
    width: 78px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #E3E4E5;
    border-radius: 2px;
    cursor: pointer;
  }
  .article .collectBtn i, .article .collectBtn b {
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
  }
  .article .collectBtn i {
    margin: -2px 5px 0 0;
    font-size: 18px;
    color: #C8C9CC;
  }
  .article .collectActive {
    color: #5389F7;
  }
  .article .collectActive i {
    color: #5389F7;
  }
  .article .content {
    min-height: 160px;
    padding: 0 41px 30px 41px;
    border-bottom: 1px solid #E3E4E5;
    line-height: 26px;
  }
  .article .footer {
    height: 90px;
    line-height: 90px;
    font-size: 14px;
    color: #4D4D4D;
    padding: 0 41px;
  }
  .article .footer>div{
   max-width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .article .footer span {
    font-weight: bold;
  }

  /* 文章 */
  /* 文章评论 */
  .articleConsult {
    width: 895px;
    background-color: #fff;
    margin-top: 20px;
  }
  .articleConsult .title {
    height: 22px;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 40px;
    background-color: #F0F7FF;
  }
  .articleConsult .content {
    padding: 32px 40px;
  }
  .articleConsult .content textarea {
    width: 771px;
    height: 90px;
    padding: 20px;
    border: 1px solid #E3E4E5;
    resize: none;
    margin-bottom: 23px;
  }
  .articleConsult .consult {
    padding: 0 41px;
  }
  .articleConsult .consult .count {
    font-size: 14px;
    line-height: 30px;
    color: #999;
    border-bottom: 1px solid #E3E4E5;
  }
  .articleConsult .consult .consultItem {
    padding: 30px 0;
  }
  .articleConsult .consult .consultItem .avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
  }
  .articleConsult .consult .consultItem .info {
    width: 730px;
    font-size: 14px;
    line-height: 30px;
    color: #999;
    margin-left: 27px;
  }
  .articleConsult .consult .consultItem .info .name {
    color: #333;
    font-weight: bold;
    font-size: 16px;
  }
  .articleConsult .consult .consultItem .info .name .noPraise {
    font-weight: normal;
    font-size: 14px;
    color: #C8C9CC;
    cursor: pointer;
  }
  .articleConsult .consult .consultItem .info .name .noPraise span {
    font-size: 20px;
    position: relative;
    top: 1px;
  }
  .articleConsult .consult .consultItem .info .reply {
    color: #808080;
    padding: 9px 23px;
    background-color: #F4F5FA;
    margin-top: 9px;
  }
  .articleConsult .consult .consultItem .info .time {
    margin-top: 9px;
  }
  .articleConsult .consult .consultItem .info .time .replyBtn {
    color: #5389F7;
    text-decoration: underline;
    cursor: pointer;
  }
  .hotConsult {
    width: 295px;
    min-height: 420px;
    background-color: #fff;
  }
  .hotConsult .title {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
    padding: 0 19px;
    border-bottom: 1px solid #E3E4E5;
  }
  .hotConsult .title .more {
    color: #999;
    font-size: 12px;
    font-weight: normal;
  }

  .list {
    padding: 13px 20px 23px 20px;
  }
  .list .item {
    padding-top: 10px;
    display: block;
  }
  .list .item .order {
    width: 18px;
    height: 21px;
    text-align: center;
    line-height: 21px;
    font-size: 12px;
    color: #999;
  }
  .list .item .name {
    width: 89%;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
  }
  .list .item .count {
    color: #999;
    font-size: 12px;
  }
  .list .item:nth-child(-n+3) .order {
    color: #fff;
    background: url("/statics/index/image/icon_hotConsult.jpg") 100% 100% no-repeat;
  }
  /* 文章评论 */
</style>
{/block}
<!--description-->
{block name='description'}{456}{/block}
{block name="content"}
      <div class="wrapper clearfix">
        <div class="crumbs">您的位置：<a href="{:url('index/article/index')}">行业资讯</a> > {$data.mode}</div>
        <div class="article fl">
          <div class="title">{$data.title}</div>
          <div class="subhead between">
            <div>作者：{$data.username} &nbsp;&nbsp; 发布时间：{$data.addtime} &nbsp;&nbsp; 阅读量：{$data.read_num}</div>
            <input type="hidden" id="is_fow" value="{$data.is_fow}">
            <span id="followlike" class="collectBtn {if $data.is_fow == 1}collectActive{/if}" onclick="modifyFollow('{$data.id}')">
              <i class="iconfont icon-collect"></i>
              <b id="state">{if $data.is_fow == 1}已收藏{else/}收藏{/if}</b>
            </span>
          </div>
          <div class="content" v-html="data.detail">
              {$data.detail}
          </div>
          <div class="footer ">
              <div class="fl">
                <span>上一篇：</span>
                <a href="{:url('index/article/detail')}?id={$data.prev.id}">{$data.prev.title}</a>
              </div>
              <div class="fr">
                <span>下一篇：</span>
                <a href="{:url('index/article/detail')}?id={$data.next.id}">{$data.next.title}</a>
              </div>
          </div>
        </div>
        <div class="fr">
          <div class="hotConsult">
            <div class="title clearfix" >
              <span class="fl" >热门资讯</span>
              <a class="fr more" href="{:url('index/article/artlist')}?type=1"> 更多 <span class="el-icon-arrow-right"></span></a>
            </div>
            <div class="list">
              {foreach $hotArt as $key => $value}
              <a  href="{:url('index/item/detail')}?id={$value.id}" class="item clearfix" v-for="(item,index) in data" :key="'hot'+item.id" >
                <div class="order fl">{$key+1}</div>
                <div class="name fl">{$value.title}</div>
                <!--            <div class="count fr">{{item.read_num}}</div>-->
              </a>
              {/foreach}
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="articleConsult ">
          <div class="title">
            文章评论
          </div>

          <div class="content">
            <textarea cols="30" rows="10"placeholder="请输入评论内容" name="content" id="content"></textarea>
              <input type="hidden" id="topic_id" value="{$data.id}">
              <input type="hidden" id="to_uid" value="{$data.id}">
            <div class=" clearfix">
              <button class="submitBtn fr" onclick="addComment()">提交评论</button>
            </div>
          </div>

          <div class="consult" v-if="commentList.length>0">
            <div class="count">
              共{$comment.count}条评论
            </div>
            {if $comment.data !== []}
            {foreach $comment.data as $key => $value}
            <div class="consultItem clearfix" v-for="(item,index) in commentList">
              <img class="avatar fl" src="{$value.userAvatar}" alt="">
              <div class="info fl">
                <div class="name">
                  {$value.username}
                  <div class="fr noPraise" data-id="item.id" onclick="addLike('{$value.id}')">
                    <span class="iconfont icon-praise"></span> {$value.likes}
                  </div>
                </div>
                <div >{$value.content}</div>
                {if $value.comment !== []}
                {foreach $value.comment as $k => $v}
                <div class="reply" v-if="item.comment.length>0">
                  <div >{$v.username}：{$v.content}</div>
                </div>
                {/foreach}
                {/if}
              </div>
            </div>
            {/foreach}
            {/if}
          </div>
        </div>
      </div>
    </div>
<script type="text/javascript">
  function quickHide(){
    $('#quick').hide()
  }
  function addComment() {
    var content = $("#content").val();
    if(!content){
      layer.msg('请输入评论内容',{icon:2})
      return false;
    }
    // add_comment
    var topic_id = $("#topic_id").val();
    var to_uid = $("#to_uid").val();
    $.ajax({
      type: "POST",
      url: "{:url('index/comment/add_comment')}",
      data:{
        'topic_id':topic_id,
        'to_uid':to_uid,
        'content':content
      },
      success: function(data){
        console.log('data',data);
        if(data.code == 200){
          layer.msg('发表成功',{icon:1});
          window.location.reload();
        }else if(data.code == 301){
          layer.msg('请先登录',{icon:2});
          $('#quick').show()
        }else{
          layer.msg(data.msg,{icon:2});
        }
      }
    })
  }

  /**
   *  评论点赞
   *  @param id
   * */
  function addLike(id) {
    console.log('id',id);
    $.ajax({
      type: "POST",
      url: "{:url('index/comment/add_likes')}",
      data:{
        'id':id,
      },
      success: function(data){
        console.log('data',data);
        if(data.code == 200){
        }
      }
    })
  }
  
  
  function modifyFollow(id) {
    var state = $("#is_fow").val();
    console.log(state);
    $.ajax({
      type: "POST",
      url: "{:url('index/follow/modify_foolow')}",
      data:{
        'tid':id,
        'type':3
      },
      success: function(data){
        if(data.code == 200){
          if(state == 0){
            $("#is_fow").val(1);
            layer.msg('收藏成功',{icon:1});
            $("#state").html('已收藏');
            $("#followlike").addClass('collectActive');
            console.log('添加属性');
          }else{
            $("#is_fow").val(0);
            layer.msg('取消收藏',{icon:1});
            $("#state").html('收藏');
            $("#followlike").removeClass('collectActive');
            console.log('清除属性');
          }
        }else{
          layer.msg(data.msg,{icon:1});
        }
        console.log('data',data);
      }
    })
  }
</script>
{/block}

