<!DOCTYPE html>
<html class="x-admin-sm">
<meta charset="UTF-8"> <!-- for HTML5 -->

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{include file="public/header"}
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form" method="POST" action="{:url('admin/news/push_consult')}" enctype="multipart/form-data">
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red"></span>用户手机号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="phone" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red"></span>用户姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" required="" lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red"></span>用户性别</label>
                        <div class="layui-input-inline">
                            <input type="radio" value="1" title="男" name="sex" required="" lay-verify="required" autocomplete="off" class="layui-input">
                            <input type="radio" value="0" title="女" name="sex" required="" lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red"></span>接收会员</label>
                        <div class="layui-input-inline ">
                            <input type="text" name="HandoverCompany" onkeyup="search()" id="HandoverCompany" autocomplete="off" class="layui-input">
                            <select type="text" name="" id="hc_select" lay-filter="hc_select"   class="layui-input" autocomplete="off" lay-search>
                                <option value="" placeholder="请选择"></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-inline" id="input-checkbox" style="width: 100%;margin-left: 110px;"></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">
                            <span class="x-red"></span>推送到分类组</label>
                        <div class="layui-input-inline ">
<!--                            style="position: absolute;z-index: 2;width: 80%"-->
                            <input type="text" name="cateName" onkeyup="find()" id="cateName"  autocomplete="off" class="layui-input">
                            <select type="text" name="" id="caSel" lay-filter="caSel" class="layui-input" autocomplete="off" lay-find>
                                <option value="" placeholder="请选择"></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-inline" id="ipcb" style="width: 100%;margin-left: 110px;"></div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label for="desc" class="layui-form-label">通知内容</label>
                        <div class="layui-input-block">
                            <textarea placeholder="请输入内容" id="desc" name="content" class="layui-textarea"></textarea>
                        </div>
                    </div>


        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <button class="layui-btn" lay-filter="add" lay-submit="">增加</button></div>
        </form>
        </div>
        </div>

        <script>
            layui.use(['form', 'layer'],);

            layui.use(['form', 'layedit','upload'], function () {
                var form = layui.form
                form.on('select(hc_select)', function (data) {   //选择移交单位 赋值给input框
                    var txt = $("#hc_select").find("option:selected").text();
                    $("#input-checkbox").append("<input name='to_uid[]' type='checkbox' checked value='"+data.value+"' title='"+txt+"'>");
                    $("#hc_select").next().find("dl").css({ "display": "none" });
                    form.render();
                });

                window.search = function () {
                    var value = $("#HandoverCompany").val();
                    //发送ajax 获取数据
                    $.ajax({
                        type: "POST",
                        url: "{:url('admin/user/get_user_list')}",
                        data:{
                            keyword:value,
                        },
                        success: function(data){
                            data = jQuery.parseJSON(data);
                            $("#hc_select").html(false);
                            layui.each(data,function (index,item) {
                                //数据填充给option
                                $("#hc_select").append("<option value='"+item.uid+"'>"+item.username+"</option>");
                            });
                            form.render();
                        }
                    });
                    // form.render();
                    $("#hc_select").next().find("dl").css({ "display": "block" });
                    var dl = $("#hc_select").next().find("dl").children();
                    var j = -1;
                }
            });

            layui.use(['form', 'layedit','upload'], function () {
                var form = layui.form
                form.on('select(caSel)', function (data) {   //选择移交单位 赋值给input框
                    var text = $("#caSel").find("option:selected").text();
                    console.log('text',text);
                    $("#ipcb").append("<input name='cate_id[]' type='checkbox' checked value='"+data.value+"' title='"+text+"'>");
                    $("#caSel").next().find("dl").css({ "display": "none" });
                    form.render();
                });

                window.find = function () {
                    var value = $("#cateName").val();
                    //发送ajax 获取数据
                    $.ajax({
                        type: "POST",
                        url: "{:url('admin/category/getCateDataList')}",
                        data:{
                            keyword:value,
                        },
                        success: function(data){
                            data = jQuery.parseJSON(data);
                            console.log('data',data);
                            $("#caSel").html(false);
                            if(data == []){
                                $("#caSel").append("<option>请重新输入</option>");
                            }else{
                                layui.each(data,function(index,item) {
                                    //数据填充给option
                                    $("#caSel").append("<option value='"+item.id+"'>"+item.name+"</option>");
                                    console.log("<option value='"+item.id+"'>"+item.name+"</option>");
                                });
                                form.render('select');
                            }
                        }
                    });
                    $("#caSel").next().find("dl").css({ "display": "block" });
                    var dl = $("#caSel").next().find("dl").children();
                }
            });
        </script>
    </body>

</html>