<!--继承模板-->
{extend name="defa/defa" /}
<!--title-->
{block name="title"}企业中心{/block}
<!--keywords-->
{block name="keywords"}{/block}
<!--description-->
{block name='description'}{/block}
<!--index js && css -->
{block name="index"}
<link href="__STATIC__/index/css/app.6e8fecf9baa6cf278e54a8181d44c5e4.css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" async="" src="__STATIC__/index/js/0.f5ed0d9d7e597a228142.js"></script>
<script type="text/javascript" charset="utf-8" async="" src="__STATIC__/index/js/17.2ca34d5d16f167d8013d.js"></script>
<link href="__STATIC__/admin/css/xadmin.css" rel="stylesheet">
{/block}
{block name="header"}{/block}
{block name="content"}
<style>
  /*  menu start*/
  .personalMenu {
    width: 230px;
    background-color: #fff;
  }
  .personalMenu .header {
    display: block;
    font-size: 16px;
    line-height: 60px;
    padding: 31px 21px;
    border-bottom: 1px solid #E3E4E5;
  }
  .personalMenu .header .avatar {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    vertical-align: middle;
    border-radius: 50%;
  }
  .personalMenu .items {
    padding: 22px 0;
  }
  .personalMenu .items .item {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 0 28px;
  }
  .personalMenu .items .item:hover {
    color: #579EFA;
  }
  .personalMenu .items .currentItem {
    color: #579EFA;
    background-color: #EBEDF5;
    border-left: 2px solid #579EFA;
  }
  /* menu end*/
  /* content start */
  .centerBg {
    width: 100%;
    height: auto;
    padding: 20px 0 100px;
    background: #F4F5FA;
  }

  .centerLeft {
    float: left;
    width: 230px;
  }

  .centerRight {
    float: right;
    width: 950px;
    min-height: 610px;
    background: #fff;
  }
  .centerRight .centerTitle {
    padding: 0 33px;
    height: 60px;
    border-bottom: 1px solid #E3E4E5;
  }
  .centerRight .centerTitle ul li {
    height: 58px;
    line-height: 58px;
    float: left;
    color: #333;
    font-size: 16px;
    border-bottom: 2px solid #fff;
    margin-right: 50px;
  }
  .centerRight .centerTitle ul li.active {
    border-bottom: 2px solid #4F74F4;
  }
  .centerRight .centerContent {
    padding: 35px 0 0;
  }
  .centerRight .centerContent .row {
    margin-bottom: 15px;
  }
  .centerRight .centerContent .row .title {
    float: left;
    width: 100px;
    line-height: 40px;
    text-align: right;
    margin-right: 15px;
  }
  .centerRight .centerContent .row .txBox {
    float: left;
    width: 94px;
    height: 94px;
    border: 1px solid #E3E4E5;
    position: relative;
  }
  .centerRight .centerContent .row .txBox img {
    display: block;
    width: 94px;
    height: 94px;
  }
  .centerRight .centerContent .row .txBox i {
    color: #E1E3EB;
  }
  .centerRight .centerContent .row .txBox .uploadBtn {
    width: 94px;
    height: 94px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .centerRight .centerContent .row .beizhu {
    font-size: 12px;
    color: #999;
    margin: 15px 0 34px;
    padding-left: 117px;
  }
  .centerRight .centerContent .row .textInp {
    width: 338px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #E3E4E5;
    border-radius: 2px;
    text-indent: 15px;
  }
  .centerRight .centerContent .row .sex {
    height: 40px;
    line-height: 40px;
  }
  .centerRight .centerContent .row .desc {
    float: left;
    height: 40px;
    line-height: 40px;
    color: #000;
  }
  .centerRight .centerContent .keepBtn {
    margin: 30px 0 0 230px;
  }

  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 94px;
    height: 94px;
    line-height: 94px;
    text-align: center;
  }
  /* content end */
  /* header start */
  .personalHeader {
    width: 100%;
    background: #fff;
    padding: 15px 0;
  }
  .personalHeader .content {
    display: flex;
    justify-content: space-between;
  }
  .personalHeader .logo {
    width: 194px;
    height: 70px;
  }
  .personalHeader .tabs {
    height: 70px;
    line-height: 70px;
  }
  .personalHeader .tabs a {
    display: inline-block;
    width: 100px;
    text-align: right;
    cursor: pointer;
  }
  .personalHeader .tabs a:hover {
    color: #579EFA;
  }
  /* header end */

</style>
<div>
  <div data-v-5eef6683="" class="common-header">
    <div data-v-5eef6683="" class="body wrapper">
      <div data-v-5eef6683="" class="left">
        欢迎来到加盟指南网！ 全国服务热线：400-619-8882
      </div>
      <div data-v-5eef6683="" class="right">
        <div data-v-5eef6683="" class="phoneVersion">
          <span data-v-5eef6683="" class="iconfont icon-phone"></span>
          <span
                  data-v-5eef6683="">手机版</span>
          <img data-v-5eef6683="" src="__STATIC__/index/img/wap_qrcode.475f601.jpg" alt="手机二维码"
               class="QRcode">
        </div>
        <div data-v-5eef6683="" class="weChatVersion">
          <span data-v-5eef6683="" class="iconfont icon-weChat"></span>
          <span data-v-5eef6683="">微信版</span>
          <img data-v-5eef6683="" src="__STATIC__/index/img/wx_qrcode.d7de962.jpg" alt="微信二维码" class="QRcode">
        </div>
        <div data-v-5eef6683="">
          {if $_SESSION['jmzn_web']['uid'] !== false}
          <a data-v-5eef6683="" href="{:url('index/user/index')}" class=""><span data-v-5eef6683="" class="name">您好，{$_SESSION['jmzn_web']['username']}</span></a>
          &nbsp;&nbsp;<a href="{:url('index/login/logout')}"><span data-v-5eef6683="">退出登陆</span></a>
          {else}
          <a data-v-5eef6683="" href="{:url('index/login/login')}" class="">登陆</a>
          {/if}
        </div>
      </div>
    </div>
  </div>
  <div class="personalHeader">
      <div class="wrapper content ">
        <a href="/">
          <img class="logo" src="../../static/image/logo.png" alt="">
        </a>
        <div class="tabs">
          <a href="/">首页</a>
          <a href="{:url('index/item/index')}">找项目</a>
          <a href="{:url('index/index/rankinglist')}">排行榜</a>
          <a href="{:url('index/article/index')}">行业资讯</a>
        </div>
      </div>
    </div>
    <div class="centerBg">
      <div class="wrapper clearfix">
        <div class="centerLeft">
          <div class="personalMenu">
            <a href="{:url('index/user/index')}" class="header clearfix">
              <img src="{$user.avatar}" alt="" class="avatar fl">
              <div class="fl">{$user.uname}</div>
            </a>
            <div class="items">
              <a href="{:url('index/user/message')}" class="item">
                <span>我的消息</span>
                <span class="el-icon-arrow-right"></span>
              </a >
              <a href="{:url('index/user/focus')}" class="item">
                <span>我的关注</span>
                <span class="el-icon-arrow-right"></span>
              </a >
              <a href="{:url('index/user/collect')}" class="item">
                <span>我的收藏</span>
                <span class="el-icon-arrow-right"></span>
              </a >
              <a href="{:url('index/user/leaveMessage')}" class="item">
                <span>我的留言</span>
                <span class="el-icon-arrow-right"></span>
              </a >
              <a href="{:url('index/user/index')}" class="item">
                <span>我的账户</span>
                <span class="el-icon-arrow-right"></span>
              </a >
              <a href="{:url('index/user/footmark')}" class="item">
                <span>我的足迹</span>
                <span class="el-icon-arrow-right"></span>
              </a >
              <a href="{:url('index/user/account')}" class="item a-exact-active a-active currentItem">
                <span>企业中心</span>
                <span class="el-icon-arrow-right"></span>
              </a >
              <a href="{:url('index/user/feedback')}" class="item">
                <span>意见反馈</span>
                <span class="el-icon-arrow-right"></span>
              </a >
              <a href="{:url('index/user/modify')}" class="item">
                <span>资料设置</span>
                <span class="el-icon-arrow-right"></span>
              </a >
            </div>
          </div>
        </div>
        <div class="centerRight">
          <div class="centerTitle">
            <ul>
              <a href="{:url('index/user/account')}">
                <li class="active">账户中心</li>
              </a>
              <a href="{:url('index/user/consult')}?type=0">
                <li>投资者管理</li>
              </a>
              <a href="{:url('index/user/consult')}?type=1">
                <li>留言管理</li>
              </a>
            </ul>
          </div>
            <div class="centerContent">
              <div class="row">
                <label class="title">公司logo</label>
                <div class="txBox">
                  <img class="logo_" src="{$data.logo}" />
                  <input class="uploadBtn" type="file" name="image" accept="image/*">
                </div>
                <p class="clear"></p>
                <p class="beizhu">*仅支持JPG、GIF、PNG、JPEG、BMP格式 , 文件小于2M</p>
              </div>
              <div class="row clearfix">
                <label class="title">企业名称</label>
                <input class="textInp" name="cname" v-model="cname" type="text" placeholder="请输入企业名称" value="{$data.cname}">
                <input type="hidden" class="textInp" id="logo" value="">
              </div>
              <div class="row clearfix">
                <label class="title">手机号码</label>
                <p class="desc">{$data.phone}</p>
              </div>
              <div class="row clearfix">
                <label class="title">品牌名</label>
                <input class="textInp" v-model="bname" name="bname" type="text" placeholder="请输入品牌名" value="{$data.bname}">
              </div>
              <div class="row clearfix">
                <label class="title">注册地址</label>
                <input class="textInp" v-model="address" name="address" type="text" placeholder="请输入注册地址" value="{$data.address}">
              </div>
              <div class="row clearfix">
                <label class="title">联系邮箱</label>
                <input class="textInp" v-model="email" name="email" type="text" placeholder="请输入联系邮箱" value="{$data.email}">
              </div>
              <button type="primary" onclick="submitForm()" class="el-button keepBtn el-button--primary">保存</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function chooseImg(){
    console.log('$(this)',$(this));
  }
  $(".uploadBtn").on('change',function(){
    var objUrl = getObjectURL($(this)[0].files[0]) ; //获取图片的路径，该路径不是图片在本地的路径
    let formData = new FormData(),
            fs = $(this)[0].files;
    let max_size = 1024 * 1024 * 100;
    for (let i = 0; i < fs.length; i++) {
      let d = fs[0]
      if(d.size <= max_size){  //文件必须小于100M
        if(/.(JPG|GIF|PNG|JPEG|BMP|jpg|gif|png|jpeg|bmp)$/.test(d.name)){ //文件必须为文档
          formData.append("files", fs[i]);  //文件上传处理
        }else{
          alert('上传文件必须是PDF或DOC！')
          return false
        }

      }else{
        alert('上传文件过大！')
        return false
      }
    }
    $.ajax({
      type: "POST",
      url: "{:url('/index/index/uploadImage')}",
      data: formData,
      cache: false,
      processData: false,
      contentType: false,
      success: function(data){
        layer.msg('上传成功',{icon:1});
        $('#logo').val(data);
      }
    })
    console.log("objUrl",objUrl);
    if (objUrl) {
      $('.logo_').attr("src", objUrl) ; //将图片路径存入src中，显示出图片
    }
  })
  function getObjectURL(file) {
    var url = null ;
    if (window.createObjectURL!=undefined) { // basic
      url = window.createObjectURL(file) ;
    } else if (window.URL!=undefined) { // mozilla(firefox)
      url = window.URL.createObjectURL(file) ;
    } else if (window.webkitURL!=undefined) { // webkit or chrome
      url = window.webkitURL.createObjectURL(file) ;
    }
    return url ;
  }

  /**
   * 提交修改
   * */
  function submitForm() {
    var logo = $("#logo").val();
    var cname = $("#cname").val();
    var address = $("#address").val();
    var email = $("#email").val();
    var bname = $("#bname").val();
    $.ajax({
      type: "POST",
      url: "{:url('/index/user/account')}",
      data:{
        'logo':logo,
        'cname':cname,
        'address':address,
        'email':email,
        'bname':bname,
      },
      success: function(data){
        if(data.code == 200){
          console.log('success',data);
          layer.msg(data.msg,{icon:1});
        }else{
          console.log('error',data);
          layer.msg(data,msg,{icon:1});
        }


      }
    })
  }
</script>
{/block}