<!--继承模板-->
{extend name="defa/defa" /}
<!--title-->
{block name="title"}投资者管理{/block}
<!--keywords-->
{block name="keywords"}{/block}
<!--description-->
{block name='description'}{/block}
<!--index js && css -->
{block name="index"}
<link href="__STATIC__/index/css/app.6e8fecf9baa6cf278e54a8181d44c5e4.css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" async="" src="__STATIC__/index/js/0.f5ed0d9d7e597a228142.js"></script>
<script type="text/javascript" charset="utf-8" async="" src="__STATIC__/index/js/17.2ca34d5d16f167d8013d.js"></script>
<link href="__STATIC__/admin/css/xadmin.css" rel="stylesheet">
<style>
  /*  menu start*/
  .personalMenu {
    width: 230px;
    background-color: #fff;
  }
  .personalMenu .header {
    display: block;
    font-size: 16px;
    line-height: 60px;
    padding: 31px 21px;
    border-bottom: 1px solid #E3E4E5;
  }
  .personalMenu .header .avatar {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    vertical-align: middle;
    border-radius: 50%;
  }
  .personalMenu .items {
    padding: 22px 0;
  }
  .personalMenu .items .item {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 0 28px;
  }
  .personalMenu .items .item:hover {
    color: #579EFA;
  }
  .personalMenu .items .currentItem {
    color: #579EFA;
    background-color: #EBEDF5;
    border-left: 2px solid #579EFA;
  }
  /* menu end*/
  /* content start */
  .currentColor {
    color: #579EFA !important;
  }

  .icon-xingxing {
    color: #D4D5D9;
  }

  .centerBg {
    width: 100%;
    height: auto;
    padding: 20px 0 100px;
    background: #F4F5FA;
  }

  .centerLeft {
    float: left;
    width: 230px;
  }

  .centerRight {
    float: right;
    width: 950px;
    min-height: 610px;
    background: #fff;
  }
  .centerRight .centerTitle {
    padding: 0 33px;
    height: 60px;
    border-bottom: 1px solid #E3E4E5;
  }
  .centerRight .centerTitle ul li {
    height: 58px;
    line-height: 58px;
    float: left;
    color: #666;
    font-size: 16px;
    border-bottom: 2px solid #fff;
    margin-right: 50px;
  }
  .centerRight .centerTitle ul li.active {
    color: #333;
    border-bottom: 2px solid #4F74F4;
  }
  .active{
    color: #5389f7;
  }
  .centerRight .centerTitle .brandBtn {
    float: right;
    color: #666;
    line-height: 60px;
  }
  .centerRight .invBox .invNav {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #F0F7FF;
    margin-bottom: 20px;
  }
  .centerRight .invBox .invNav li {
    float: left;
    padding: 0 40px 0 33px;
    color: #666;
    cursor: pointer;
  }
  .centerRight .invBox .invNav li.active {
    color: #5389F7;
  }
  .centerRight .invBox .invList {
    padding: 0 30px;
  }
  .centerRight .invBox .invList dl {
    width: 100%;
    padding: 0 0 18px;
    border-bottom: 1px dashed #E3E4E5;
  }
  .centerRight .invBox .invList dl dt {
    height: 65px;
    line-height: 65px;
  }
  .centerRight .invBox .invList dl dt .data {
    color: #333;
  }
  .centerRight .invBox .invList dl dt .data span {
    margin: 0 15px;
    color: #D7D8D9;
  }
  .centerRight .invBox .invList dl dt .status i {
    color: #999;
    font-style: normal;
  }
  .centerRight .invBox .invList dl dt .status span {
    color: #5389F7;
    margin-left: 25px;
    cursor: pointer;
  }
  .centerRight .invBox .invList dl dd {
    padding: 20px 22px;
    color: #808080;
    background: #F4F5FA;
  }

  .pages {
    text-align: center;
    margin: 30px 0;
  }

  /* 弹窗样式 */
  .model1 .box {
    font-size: 14px;
    color: #333333;
    line-height: 24px;
    padding: 25px 45px;
    border-top: 1px solid #E3E4E5;
  }
  .model1 .box span, .model1 .box label {
    cursor: pointer;
  }
  .model1 .box .title {
    cursor: default;
  }
  .model1 .box .consult {
    padding: 20px 23px;
    background-color: #F4F5FA;
    margin-top: 20px;
  }
  .model1 .box .logs {
    padding: 13px;
    border: 1px solid #E3E4E5;
  }
  .model1 .box .logs .time {
    color: #999;
    text-align: right;
  }

  .addlog {
    width: 100%;
    padding: 23px;
    background-color: #F4F5FA;
    min-height: 90px;
    margin-top: 20px;
    resize: none;
    box-sizing: border-box;
  }

  .dialog-footer {
    display: flex;
    justify-content: center;
  }
  /* content end */
  /* header start */
  .personalHeader {
    width: 100%;
    background: #fff;
    padding: 15px 0;
  }
  .personalHeader .content {
    display: flex;
    justify-content: space-between;
  }
  .personalHeader .logo {
    width: 194px;
    height: 70px;
  }
  .personalHeader .tabs {
    height: 70px;
    line-height: 70px;
  }
  .personalHeader .tabs a {
    display: inline-block;
    width: 100px;
    text-align: right;
    cursor: pointer;
  }
  .personalHeader .tabs a:hover {
    color: #579EFA;
  }
  /* header end */

</style>
{/block}
{block name="header"}{/block}
{block name="content"}
<div>
  <div>
    <div class="personalHeader">
      <div class="wrapper content">
        <a href="/">
          <img class="logo" src="../../static/image/logo.png" alt="">
        </a>
        <div class="tabs">
          <a href="/">首页</a>
          <a href="{:url('index/item/index')}">找项目</a>
          <a href="{:url('index/index/rankinglist')}">排行榜</a>
          <a href="{:url('index/article/index')}">行业资讯</a>
        </div>
      </div>
    </div>
    <div class="centerBg">
      <div class="wrapper clearfix">
        <div class="centerLeft">
          <div class="personalMenu">
            <a href="{:url('index/user/index')}" class="header clearfix">
              <img src="{$user.avatar}" alt="" class="avatar fl">
              <div class="fl">{$user.uname}</div>
            </a>
            <div class="items">
              <a href="{:url('index/user/message')}" class="item">
                <span>我的消息</span>
                <span class="el-icon-arrow-right"></span>
              </a >
              <a href="{:url('index/user/focus')}" class="item">
                <span>我的关注</span>
                <span class="el-icon-arrow-right"></span>
              </a >
              <a href="{:url('index/user/collect')}" class="item">
                <span>我的收藏</span>
                <span class="el-icon-arrow-right"></span>
              </a >
              <a href="{:url('index/user/leaveMessage')}" class="item">
                <span>我的留言</span>
                <span class="el-icon-arrow-right"></span>
              </a >
              <a href="{:url('index/user/index')}" class="item">
                <span>我的账户</span>
                <span class="el-icon-arrow-right"></span>
              </a >
              <a href="{:url('index/user/footmark')}" class="item">
                <span>我的足迹</span>
                <span class="el-icon-arrow-right"></span>
              </a >
              <a href="{:url('index/user/account')}" class="item a-exact-active a-active currentItem">
                <span>企业中心</span>
                <span class="el-icon-arrow-right"></span>
              </a >
              <a href="{:url('index/user/feedback')}" class="item">
                <span>意见反馈</span>
                <span class="el-icon-arrow-right"></span>
              </a >
              <a href="{:url('index/user/modify')}" class="item">
                <span>资料设置</span>
                <span class="el-icon-arrow-right"></span>
              </a >
            </div>
          </div>
        </div>
        <div class="centerRight">
          <div class="centerTitle">
            <ul>
              <a href="{:url('index/user/account')}">
                <li>账户中心</li>
              </a>
              <a href="{:url('index/user/consult')}">
                <li class="<?php if($type == 0){echo 'active'; }?>">投资者管理</li>
              </a>
              <a href="{:url('index/user/consult')}?type=1">
                <li class="<?php if($type == 1){echo 'active'; }?>">留言管理</li>
              </a>
            </ul>
            <span class="brandBtn">我的品牌页 &gt;</span>
          </div>
          <div class="invBox">
            <ul class="invNav clearfix" @click="tabChange">
              {if $type == 0}
              <li data-read="0"><a class="<?php if($read == 0){echo 'active';}?>" href="{:url('index/user/consult')}">待跟进</a>
              </li>
              <li data-read="1">
                <a class="<?php if($read == 1){echo 'active';}?>"  href="{:url('index/user/consult')}?read=1">正在跟进</a>
              </li>
              <li data-read="2">
                <a  class="<?php if($read == 2){echo 'active';}?>"  href="{:url('index/user/consult')}?read=2">已签约</a>
              </li>
              <li data-read="3">
                <a class="<?php if($read == 3){echo 'active';}?>" href="{:url('index/user/consult')}?read=3">已放弃</a>
              </li>
              {else /}
              <li data-read="0"><a class="<?php if($read == 0){echo 'active';}?>" href="{:url('index/user/consult')}?type=1">未回复</a>
              </li>
              <li data-read="1">
                <a class="<?php if($read == 1){echo 'active';}?>"  href="{:url('index/user/consult')}?type=1&read=1">已回复</a>
              </li>
              <li data-read="2">
                <a  class="<?php if($read == 4){echo 'active';}?>"  href="{:url('index/user/consult')}?type=1&read=4">已删除</a>
              </li>

              {/if}
            </ul>
            <div class="invList">
              {foreach $data as $key => $value}
              <dl v-for="(item,index) in data" :key="'man'+item.id">
                <dt class="clearfix">
                  <div class="data fl">{$value.name}<span>|</span>{$value.sex = 1? '男':'女'}<span>|</span>{$value.phone}
                  </div>
                  <div class="status fr">
                    <i>{$value.addtime}</i>
                    <span @click="detail" :data-index="index">查看</span>
                  </div>
                </dt>
                <dd>{$value.content}</dd>
              </dl>
              {/foreach}
            </div>

            <div class="layui-card-body ">
              <div class="page">
                <div>
                  {$page}
                </div>
              </div>
            </div>

          </div>
        </div>
<!--        <el-dialog-->
<!--                :title="title"-->
<!--                :visible.sync="dialogVisible"-->
<!--                width="40%"-->
<!--                class="model1" center>-->
<!--          <div class="box">-->
<!--            <span>姓名：{{currentData.consult.name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>-->
<!--            <span>性别：{{currentData.consult.sex == 1? '男':'女'}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>-->
<!--            <span>电话：{{currentData.consult.phone}}</span>-->
<!--            <div class="consult">-->
<!--              {{currentData.consult.content}}-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="box">-->
<!--            <div>-->
<!--              <span class="title">投资意向：</span>-->
<!--              <span class="iconfont icon-xingxing currentColor" @click="intentionChange(1)"></span>-->
<!--              <span class="iconfont icon-xingxing" :class="[currentData.consult.intention >1 ?'currentColor':'']" @click="intentionChange(2)"></span>-->
<!--              <span class="iconfont icon-xingxing" :class="[currentData.consult.intention >2 ?'currentColor':'']" @click="intentionChange(3)"></span>-->
<!--              <span class="iconfont icon-xingxing" :class="[currentData.consult.intention >3 ?'currentColor':'']" @click="intentionChange(4)"></span>-->
<!--              <span class="iconfont icon-xingxing" :class="[currentData.consult.intention >4 ?'currentColor':'']" @click="intentionChange(5)"></span>-->
<!--            </div>-->
<!--            <div>-->
<!--              <span class="title">选择状态：</span>-->
<!--              <label class="[currentData.consult.read == 1 ?'currentColor':'']" @click="statusChange(1)">-->
<!--                <span class="iconfont icon-dian" ></span>正在跟进&nbsp;&nbsp;-->
<!--              </label>-->
<!--              <label class="[currentData.consult.read == 3 ?'currentColor':'']" @click="statusChange(3)">-->
<!--                <span class="iconfont icon-dian" ></span>放弃跟进&nbsp;&nbsp;-->
<!--              </label>-->
<!--              <label class="[currentData.consult.read == 2?'currentColor':'']" @click="statusChange(2)">-->
<!--                <span class="iconfont icon-dian" ></span>已经签约&nbsp;&nbsp;-->
<!--              </label>-->
<!--            </div>-->
<!--            <div>客户跟踪日志：</div>-->
<!--            <div class="logs" v-if="currentData.con_log.length>0">-->
<!--              <div class="log" v-for="item in currentData.con_log" :key="'log'+item.id">-->
<!--                <div>{{item.content}}</div>-->
<!--                <div class="time">{{item.addtime}}</div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <textarea type="textarea" v-model="content" class="addlog" placeholder="请在此添加日志~"></textarea>-->
<!--            <span slot="footer" class="dialog-footer">-->
<!--                <el-button type="primary" @click="addConsult" >保 存</el-button>-->
<!--            </span>-->
<!--          </div>-->

<!--        </el-dialog>-->
      </div>
    </div>
  </div>
</div>
{/block}
{block name="jq"}
<script>
  //content start
  export default {
    name: "index.vue",
    data() {
      return {
        dialogVisible: false,
        consultId: '',
        read: 0,
        type: 0,
        page: 0,
        data: '',
        count: 0,
        currentData: {consult:{
            name:'',
            content:'',
            read:'',
            addtime:'',
          },con_log:[]
        },
        detailName: ['待跟进','正在跟进','已签约','放弃跟进','无效'],
        title:'',
        content: [],
        status: 1 // 0 无效，1有效

      }
    },
    created() {
      this.getData();
    },
    methods: {
      getData: function () {
        let {read, page,status} = this;
        if(read == 4){
          status = 0;
        }
        api.getInvertorManage({type: 0,status, read, page}).then(data => {
          this.data = data.data;
          this.count = data.count
        });
      },

      tabChange: function ({target: {dataset: {read}}}) {
        this.read = read;
        this.page=0
        this.getData();
      },
      /**
       * 更改跟进状态
       */
      statusChange: function(read){
        this.currentData.consult.read = read;

      },
      /**
       * 修改意向状态
       */
      intentionChange: function(value){
        this.currentData.consult.intention = value;
      },
      /**
       * 点击分页
       * @param e
       */
      pageChange: function (e) {
        this.page = e - 1;
        window.scrollTo(0, 0);
        this.getData();
      },

      /**
       * 查看详情
       */
      detail: function ({currentTarget: {dataset: {index}}}) {
        api.getConsultDetail({id:this.data[index].id,type:0}).then(data =>{
          this.currentData = data;
          this.title = this.detailName[data.consult.read];
          this.dialogVisible = true;
        })
      },
      /**
       * 添加跟进
       */
      addConsult: function(){
        const { read,intention,id} = this.currentData.consult;
        const {content} = this;
        api.addConsult({id,int:intention,read,content}).then(data=>{
          this.dialogVisible = false;
          this.content = '';
          this.$message.success('保存成功')
        });

      }
    },
    components: {
      PersonalHeader,
      PersonalMenu
    }
  }
  //content end
  //header start
  export default {
    name: "personalHeader",
    created(){

    }
  }
  //header end
  //menu start
  export default {
    name: "personalMenu",
    props:{
      currentMenu:{
        default: '0'
      },
    },
    data(){
      return{
        userInfo:{
        }
      }
    },
    watch:{
      $route(to,from){
        if(from.path =='/data'){
          if(to.path == '/data'){
            console.log("chengggfgsgsaasfsdsdf")
          }
        }
      }
    },
    created(){
      this.userInfo = JSON.parse(localStorage.getItem('user'));

    }
  }
  //menu end
</script>
{/block}