<!--继承模板-->
{extend name="defa/defa" /}
<!--title-->
{block name="title"}投资者管理{/block}
<!--keywords-->
{block name="keywords"}{/block}
<!--description-->
{block name='description'}{/block}
<!--index js && css -->
{block name="index"}
<link href="__STATIC__/index/css/app.6e8fecf9baa6cf278e54a8181d44c5e4.css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" async="" src="__STATIC__/index/js/0.f5ed0d9d7e597a228142.js"></script>
<script type="text/javascript" charset="utf-8" async="" src="__STATIC__/index/js/17.2ca34d5d16f167d8013d.js"></script>
<link href="__STATIC__/admin/css/xadmin.css" rel="stylesheet">
<style>
  /*  menu start*/
  .personalMenu {
    width: 230px;
    background-color: #fff;
  }
  .personalMenu .header {
    display: block;
    font-size: 16px;
    line-height: 60px;
    padding: 31px 21px;
    border-bottom: 1px solid #E3E4E5;
  }
  .personalMenu .header .avatar {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    vertical-align: middle;
    border-radius: 50%;
  }
  .personalMenu .items {
    padding: 22px 0;
  }
  .personalMenu .items .item {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 0 28px;
  }
  .personalMenu .items .item:hover {
    color: #579EFA;
  }
  .personalMenu .items .currentItem {
    color: #579EFA;
    background-color: #EBEDF5;
    border-left: 2px solid #579EFA;
  }
  /* menu end*/
  /* content start */
  .centerBg {
    width: 100%;
    height: auto;
    padding: 20px 0 100px;
    background: #F4F5FA;
  }

  .centerLeft {
    float: left;
    width: 230px;
  }

  .centerRight {
    float: right;
    width: 950px;
    min-height: 610px;
    background: #fff;
  }
  .centerRight .centerTitle {
    padding: 0 33px;
    height: 60px;
    border-bottom: 1px solid #E3E4E5;
  }
  .centerRight .centerTitle ul li {
    height: 58px;
    line-height: 58px;
    float: left;
    color: #333;
    font-size: 16px;
    border-bottom: 2px solid #fff;
  }
  .centerRight .centerTitle ul li.active {
    border-bottom: 2px solid #4F74F4;
  }
  .centerRight .feedbackContent {
    padding-top: 20px;
  }
  .centerRight .feedbackContent .row {
    margin-top: 15px;
  }
  .centerRight .feedbackContent .row textarea {
    width: 640px;
    height: 90px;
    border: 1px solid #E3E4E5;
    border-radius: 2px;
    resize: none;
    padding: 15px 20px;
  }
  .centerRight .feedbackContent .row .title {
    float: left;
    width: 100px;
    text-align: right;
    margin-right: 17px;
    line-height: 40px;
  }
  .centerRight .feedbackContent .row .textInp {
    width: 338px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #E3E4E5;
    border-radius: 2px;
    text-indent: 15px;
  }
  .centerRight .feedbackContent .submitBtn {
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: -webkit-gradient(linear, 100% 0, 0 0, from(#579EFA), to(#4F74F4));
    background: -webkit-linear-gradient(to bottom, #579EFA, #4F74F4);
    background: -moz-linear-gradient(to bottom, #579EFA, #4F74F4);
    background: -o-linear-gradient(to bottom, #579EFA, #4F74F4);
    background: linear-gradient(to bottom, #579EFA, #4F74F4);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin: 30px 0 0 117px;
  }
  /* content end */
  /* header start */
  .personalHeader {
    width: 100%;
    background: #fff;
    padding: 15px 0;
  }
  .personalHeader .content {
    display: flex;
    justify-content: space-between;
  }
  .personalHeader .logo {
    width: 194px;
    height: 70px;
  }
  .personalHeader .tabs {
    height: 70px;
    line-height: 70px;
  }
  .personalHeader .tabs a {
    display: inline-block;
    width: 100px;
    text-align: right;
    cursor: pointer;
  }
  .personalHeader .tabs a:hover {
    color: #579EFA;
  }
  /* header end */

</style>
{/block}
{block name="header"}{/block}
{block name="content"}
  <div>
    <div>
      <div data-v-5eef6683="" class="common-header">
        <div data-v-5eef6683="" class="body wrapper">
          <div data-v-5eef6683="" class="left">
            欢迎来到加盟指南网！ 全国服务热线：400-619-8882
          </div>
          <div data-v-5eef6683="" class="right">
            <div data-v-5eef6683="" class="phoneVersion">
              <span data-v-5eef6683="" class="iconfont icon-phone"></span>
              <span
                      data-v-5eef6683="">手机版</span>
              <img data-v-5eef6683="" src="__STATIC__/index/img/wap_qrcode.475f601.jpg" alt="手机二维码"
                   class="QRcode">
            </div>
            <div data-v-5eef6683="" class="weChatVersion">
              <span data-v-5eef6683="" class="iconfont icon-weChat"></span>
              <span data-v-5eef6683="">微信版</span>
              <img data-v-5eef6683="" src="__STATIC__/index/img/wx_qrcode.d7de962.jpg" alt="微信二维码" class="QRcode">
            </div>
            <div data-v-5eef6683="">
              {if $_SESSION['jmzn_web']['uid'] !== false}
              <a data-v-5eef6683="" href="{:url('index/user/index')}" class=""><span data-v-5eef6683="" class="name">您好，{$_SESSION['jmzn_web']['username']}</span></a>
              &nbsp;&nbsp;<a href="{:url('index/login/logout')}"><span data-v-5eef6683="">退出登陆</span></a>
              {else}
              <a data-v-5eef6683="" href="{:url('index/login/login')}" class="">登陆</a>
              {/if}
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="personalHeader">
          <div class="wrapper content">
            <a href="/">
              <img class="logo" src="../../static/image/logo.png" alt="">
            </a>
            <div class="tabs">
              <a href="/">首页</a>
              <a href="{:url('index/item/index')}">找项目</a>
              <a href="{:url('index/index/rankinglist')}">排行榜</a>
              <a href="{:url('index/article/index')}">行业资讯</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="centerBg">
      <div class="wrapper clearfix">
        <div class="centerLeft">
          <div class="fl" currentMenu="1">
            <div class="personalMenu">
              <a href="{:url('index/user/index')}" class="header clearfix">
                <img src="{$user.avatar}" alt="" class="avatar fl">
                <div class="fl">{$user.uname}</div>
              </a>
              <div class="items">
                <a href="{:url('index/user/message')}" class="item">
                  <span>我的消息</span>
                  <span class="el-icon-arrow-right"></span>
                </a >
                <a href="{:url('index/user/focus')}" class="item  ">
                  <span>我的关注</span>
                  <span class="el-icon-arrow-right"></span>
                </a >
                <a href="{:url('index/user/collect')}" class="item">
                  <span>我的收藏</span>
                  <span class="el-icon-arrow-right"></span>
                </a >
                <a href="{:url('index/user/leaveMessage')}" class="item">
                  <span>我的留言</span>
                  <span class="el-icon-arrow-right"></span>
                </a >
                <a href="{:url('index/user/index')}" class="item">
                  <span>我的账户</span>
                  <span class="el-icon-arrow-right"></span>
                </a >
                <a href="{:url('index/user/footmark')}" class="item">
                  <span>我的足迹</span>
                  <span class="el-icon-arrow-right"></span>
                </a >
                <a href="{:url('index/user/account')}" class="item">
                  <span>企业中心</span>
                  <span class="el-icon-arrow-right"></span>
                </a >
                <a href="{:url('index/user/feedback')}" class="item a-exact-active a-active currentItem">
                  <span>意见反馈</span>
                  <span class="el-icon-arrow-right"></span>
                </a >
                <a href="{:url('index/user/modify')}" class="item">
                  <span>资料设置</span>
                  <span class="el-icon-arrow-right"></span>
                </a >
              </div>
            </div>
          </div>
        </div>
        <div class="centerRight">
          <div class="centerTitle">
            <ul>
              <li class="active">意见反馈</li>
            </ul>
          </div>
          <form id="formData" >
            <div class="feedbackContent">
              <div class="row clearfix">
                <label class="title">意见反馈</label>
                <textarea placeholder="请填写您的问题或建议" name="content"></textarea>
              </div>
              <div class="row clearfix">
                <label class="title">手机号码</label>
                <input class="textInp" name="phone" type="text" placeholder="请输入您的手机号码">
              </div>
              <div class="row clearfix">
                <label class="title">真实姓名</label>
                <input class="textInp" name="name" type="text" placeholder="请输入您的真实姓名">
              </div>
              <div onclick="submitForm()" class="submitBtn">提交</div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
<script type="text/javascript">
  function submitForm(){

  }
</script>
{/block}
