<!--继承模板-->
{extend name="defa/defa" /}
<!--title-->
{block name="title"}我的消息{/block}
<!--keywords-->
{block name="keywords"}{/block}
<!--description-->
{block name='description'}{/block}
<!--index js && css -->
{block name="index"}
<link href="__STATIC__/index/css/app.6e8fecf9baa6cf278e54a8181d44c5e4.css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" async="" src="__STATIC__/index/js/0.f5ed0d9d7e597a228142.js"></script>
<script type="text/javascript" charset="utf-8" async="" src="__STATIC__/index/js/17.2ca34d5d16f167d8013d.js"></script>
<link href="__STATIC__/admin/css/xadmin.css" rel="stylesheet">
<style>
  .consultBg{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9990;
  }
  .consultCase{
    width: 386px;
    height: 520px;
    padding: 0 15px 0 25px;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin:-260px 0 0 -213px;
    z-index: 9992;
  }
  .consultCase h2{
    padding: 20px 20px 30px;
    text-align:center;
    font-size: 18px;
  }
  .consultCase .close{
    width: 20px;
    height: 20px;
    background: url(__STATIC__/index/image/close.png) no-repeat;
    background-size: 100%;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 10;
    cursor: pointer;
  }
  .consultCase .row{
    margin-bottom: 16px;
  }
  .consultCase .name{
    width: 70px;
    line-height: 41px;
    text-align: right;
    color: #666;
    margin-right: 10px;
  }
  .consultCase .name i{
    color: #f00;
  }
  .consultCase .commonInp{
    width: 290px;
    height: 39px;
    line-height: 39px;
    text-indent: 10px;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
  }
  .consultCase .picInp{
    width: 180px;
  }
  .consultCase .picBtn{
    float: left;
    width: 105px;
    height: 41px;
    line-height: 41px;
    margin-left: 5px;
  }
  .consultCase .checkBtn{
    float: left;
    width: 103px;
    height: 39px;
    font-size: 12px;
    line-height: 39px;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    text-align: center;
    margin-left: 5px;
  }
  .textArea{
    width: 270px;
    height: 60px;
    padding: 10px;
    border: 1px solid #dcdfe6;
    border-radius: 2px;
    resize: none;
    margin-left: 80px;
  }
  .commitBtn{
    display: block;
    width: 75px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #409eff;
    color: #fff;
    border-radius: 4px;
    margin: 0 auto;
  }
  /*  menu start*/
  .personalMenu {
    width: 230px;
    background-color: #fff;
  }
  .personalMenu .header {
    display: block;
    font-size: 16px;
    line-height: 60px;
    padding: 31px 21px;
    border-bottom: 1px solid #E3E4E5;
  }
  .personalMenu .header .avatar {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    vertical-align: middle;
    border-radius: 50%;
  }
  .personalMenu .items {
    padding: 22px 0;
  }
  .personalMenu .items .item {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 0 28px;
  }
  .personalMenu .items .item:hover {
    color: #579EFA;
  }
  .personalMenu .items .currentItem {
    color: #579EFA;
    background-color: #EBEDF5;
    border-left: 2px solid #579EFA;
  }
  /* menu end*/
  /* focus start */
  .focus {
    background-color: #F4F5FA;
    padding-bottom: 120px;
  }
  .focus .content {
    padding-top: 20px;
  }
  .focus .content .right {
    width: 950px;
    background-color: #fff;
  }
  .focus .content .right .header {
    height: 60px;
    line-height: 58px;
    color: #999;
    font-size: 16px;
    padding: 0 30px;
  }
  .focus .content .right .header .tab {
    margin-right: 45px;
  }
  .focus .content .right .header .currentTab {
    color: #333;
    font-weight: bold;
    border-bottom: 2px solid #579EFA;
  }

  .per {
    padding: 0 30px;
  }
  .per .item {
    position: relative;
    display: flex;
    font-size: 14px;
    color: #999;
    padding: 20px 0;
    border-bottom: 1px solid #E3E4E5;
  }
  .per .item .right {
    margin-left: 22px;
  }
  .per .item .right .name {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-top: 24px;
  }
  .per .item .right .name .money {
    color: #FF7E00;
    font-size: 16px;
  }
  .per .item img {
    width: 140px;
    height: 140px;
  }
  .per .item .detail {
    width: 320px;
    margin-top: 15px;
  }
  .per .item .detail .info {
    display: inline-block;
    margin-bottom: 10px;
  }
  .per .item .detail .info span {
    display: inline-block;
    width: 80px;
  }
  .per .btns {
    position: absolute;
    bottom: 30px;
    right: 0px;
    display: flex;
    text-align: right;
  }
  .per .item:last-child {
    border: 0;
  }

  .dialog-footer {
    text-align: center;
  }

  .pages {
    text-align: center;
    margin: 34px 0;
  }
  /* focus end */
  /* header start */
  .personalHeader {
    width: 100%;
    background: #fff;
    padding: 15px 0;
  }
  .personalHeader .content {
    display: flex;
    justify-content: space-between;
  }
  .personalHeader .logo {
    width: 194px;
    height: 70px;
  }
  .personalHeader .tabs {
    height: 70px;
    line-height: 70px;
  }
  .personalHeader .tabs a {
    display: inline-block;
    width: 100px;
    text-align: right;
    cursor: pointer;
  }
  .personalHeader .tabs a:hover {
    color: #579EFA;
  }
  /* header end */

</style>
{/block}
{block name="header"}{/block}
{block name="content"}
<div>
  <div class="focus">
    <div>
      <div>
        <div data-v-5eef6683="" class="common-header">
          <div data-v-5eef6683="" class="body wrapper">
            <div data-v-5eef6683="" class="left">
              欢迎来到加盟指南网！ 全国服务热线：400-619-8882
            </div>
            <div data-v-5eef6683="" class="right">
              <div data-v-5eef6683="" class="phoneVersion">
                <span data-v-5eef6683="" class="iconfont icon-phone"></span>
                <span
                        data-v-5eef6683="">手机版</span>
                <img data-v-5eef6683="" src="__STATIC__/index/img/wap_qrcode.475f601.jpg" alt="手机二维码"
                     class="QRcode">
              </div>
              <div data-v-5eef6683="" class="weChatVersion">
                <span data-v-5eef6683="" class="iconfont icon-weChat"></span>
                <span data-v-5eef6683="">微信版</span>
                <img data-v-5eef6683="" src="__STATIC__/index/img/wx_qrcode.d7de962.jpg" alt="微信二维码" class="QRcode">
              </div>
              <div data-v-5eef6683="">
                {if $_SESSION['jmzn_web']['uid'] !== false}
                <a data-v-5eef6683="" href="{:url('index/user/index')}" class=""><span data-v-5eef6683="" class="name">您好，{$_SESSION['jmzn_web']['username']}</span></a>
                &nbsp;&nbsp;<a href="{:url('index/login/logout')}"><span data-v-5eef6683="">退出登陆</span></a>
                {else}
                <a data-v-5eef6683="" href="{:url('index/login/login')}" class="">登陆</a>
                {/if}
              </div>
            </div>
          </div>
        </div>
      <div class="personalHeader">
        <div class="wrapper content">
          <a href="/">
            <img class="logo" src="../../static/image/logo.png" alt="">
          </a>
          <div class="tabs">
            <a href="/">首页</a>
            <a href="/list">找项目</a>
            <a href="/rankingList">排行榜</a>
            <a href="/news">行业资讯</a>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper clearfix content">
      <div class="fl" currentMenu="1">
        <div class="personalMenu">
          <a href="{:url('index/user/index')}" class="header clearfix">
            <img src="{$user.avatar}" alt="" class="avatar fl">
            <div class="fl">{$user.uname}</div>
          </a>
          <div class="items">
            <a href="{:url('index/user/message')}" class="item">
              <span>我的消息</span>
              <span class="el-icon-arrow-right"></span>
            </a >
            <a href="{:url('index/user/focus')}" class="item  a-exact-active a-active currentItem">
              <span>我的关注</span>
              <span class="el-icon-arrow-right"></span>
            </a >
            <a href="{:url('index/user/collect')}" class="item">
              <span>我的收藏</span>
              <span class="el-icon-arrow-right"></span>
            </a >
            <a href="{:url('index/user/leaveMessage')}" class="item">
              <span>我的留言</span>
              <span class="el-icon-arrow-right"></span>
            </a >
            <a href="{:url('index/user/index')}" class="item">
              <span>我的账户</span>
              <span class="el-icon-arrow-right"></span>
            </a >
            <a href="{:url('index/user/footmark')}" class="item">
              <span>我的足迹</span>
              <span class="el-icon-arrow-right"></span>
            </a >
            <a href="{:url('index/user/account')}" class="item">
              <span>企业中心</span>
              <span class="el-icon-arrow-right"></span>
            </a >
            <a href="{:url('index/user/feedback')}" class="item">
              <span>意见反馈</span>
              <span class="el-icon-arrow-right"></span>
            </a >
            <a href="{:url('index/user/modify')}" class="item">
              <span>资料设置</span>
              <span class="el-icon-arrow-right"></span>
            </a >
          </div>
        </div>
      </div>
      <div class="fr right">
        <div class="header clearfix">
          <div class="tab fl currentTab">我的关注</div>
        </div>
        <div class="per">
          {foreach $data as $key => $value}
          <a class="item" v-for="item in data" :key="'focus'+item.id" href="{:url('index/item/detail')}?id={$value.id}">
            <img src="{$value.img}" alt="">
            <div class="right">
              <div class="name clearfix">
                <span class="fl">{$value.item_name}</span>
                <span class="money fr">￥{$value.money}万</span>
              </div>
              <div class="detail">
                <div class="info">
                  所属行业：<span>{$value.cate_name}</span>
                </div>
                <div class="info">
                  直营店：<span>{$value.shop_count}家</span>
                </div>
                <div class="info">
                  申请人数：<span>{$value.apply}</span>
                </div>

                <div class="info">
                  加盟店：<span>{$value.fran_store_num}家</span>
                </div>
              </div>
            </div>
            <div class="btns" >
              <button class="el-button el-button--primary consult" type="primary" data-productid="{$value.id}">立即咨询</button>
              <button class="el-button el-button--default" data-productid="{$value.id}" id="cancelFocus">取消关注</button>
            </div>
          </a >
          {/foreach}
          <div class="layui-card-body ">
            <div class="page">
              <div>
                {$page}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 立即咨询 -->
<div class="consultBg" id="consultModal" style="display: none">
  <!--    <form action="{:url('index/Consult/addConsultData')}" method="post" id="addconsult" accept-charset="utf-8">-->
  <input type="hidden" id="tid" >
  <div class="consultCase">
    <h2>立即咨询</h2>
    <span class="close" onclick="hideConsultModal()"></span>

    <div class="row clearfix">
      <label class="fl name"><i>*</i> 姓名</label>
      <input class="fl commonInp" type="text" name="name" id="name" placeholder="请输入您的姓名">
    </div>
    <div class="row clearfix">
      <label class="fl name"><i>*</i> 性别</label>
      <div class="fl" style="line-height:40px;">
        <label class="el-radio sexLabel">
          <input type="radio" name="sex" value="1" checked="">
          <span class="el-radio__label">男</span>
        </label>
        <label class="el-radio sexLabel">
          <input type="radio" name="sex">
          <span class="el-radio__label" value="0">女</span>
        </label>
      </div>
    </div>
    <div class="row clearfix">
      <label class="fl name"><i>*</i> 手机号</label>
      <input class="fl commonInp phone" id="mobile" type="text" name="mobile" placeholder="请输入您的手机号">
    </div>
    <div class="row clearfix">
      <label class="fl name"><i>*</i> 图片验证</label>
      <input class="fl commonInp picInp" type="text" id="imgCode" name="imgCode" placeholder="请输入图片验证码">
      　<img src="{:captcha_src()}" width="95" height="45" onclick="this.src='{:captcha_src()}'">
    </div>
    <div class="row clearfix">
      <label class="fl name"><i>*</i> 验证码</label>
      <input class="fl commonInp picInp" type="text" id="code" name="code" placeholder="请输入手机验证码">
      <span class="checkBtn" onclick="getMobileCode(this)">获取验证码</span>
    </div>
    <div class="row">
      <textarea class="textArea" name="content" id="content" placeholder="请输入您要咨询的内容"></textarea>
    </div>
    <div class="commitBtn" onclick="submitForm()">
      <!--          <button class="commitBtn" onclick="submitForm()" type="button">-->
      提交
      <!--          </button>-->
    </div>
  </div>
  <!--  </form>-->
</div>
<script type="text/javascript">
  //验证手机格式
  function validatePhone (phone) {
    // // let phone = '';
    // console.log("$('.phone')",phone);
    //
    // if($('#consultModal').css('display') == 'none'){
    //   phone = $('.phone')[0].value;
    // }else{
    //   phone = $('.phone')[1].value;
    // }
    // console.log('phone',phone);
    // layer.msg('请输入手机号码',{icon:2});
    console.log('validatePhone',phone);
    console.log('validatePhon=======e',phone);
    // layer.msg('请输入手机号码',{icon:2});
    if (!phone) {
      layer.msg('请输入手机号码',{icon:2});
      console.log('请输入手机号');
      return false;
    }
    if (phone.length != 11) {
      console.log('手机号格式不正确');
      layer.msg('手机号码格式不正确',{icon:2});
      return false;
    }
    return true;
  }
  //验证图片验证码
  function validateImgCode(imgCode){
    console.log('imgcode',imgCode);
    if(!imgCode){
      layer.msg('请输入图片验证码',{icon:2});
      console.log('请输入图片验证码');
      return false;
    }
  }

  //获取验证码
  let intervalID = '';
  function getCode (e){
    //验证手机号
    console.log('页脚立即咨询');
    var phone = $("#phone").val();
    console.log('phone',phone);
    var resPhone = validatePhone(phone);
    if(!resPhone){
      return
    }
    //验证图片验证码
    var imgCode = $("#icode").val();
    console.log('imgCode',imgCode);
    var resImg = validateImgCode(imgCode);
    if(!resImg){
      return
    }
    //请求短信接口
    $.ajax({
      type: "POST",
      url: "{:url('index/login/get_code')}",
      data:{
        phone:phone,
        icode:imgCode,
      },
      success: function(data){
        console.log('data',data);
        if(data.code != 200){
          console.log('msg',data.msg);
          layer.msg(data.msg,{icon:1});
          return ;
        }
        if(data.code == 200){
          console.log('msg','验证码发送成功');
          layer.msg('验证码发送成功',{icon:1});
          let outTime = 60;
          console.log($(e));
          intervalID = setInterval(function(){
            if(outTime == 0){
              outTime = 60;
              clearInterval(intervalID)
              $(e).html('获取验证码');
              return
            }
            outTime--;
            $(e).html(outTime+'S后可重新获取');
          },1000);
        }
      }
    })
  }

  function getMobileCode(e) {
    //验证手机号
    console.log('立即咨询');
    var phone = $("#mobile").val();
    console.log('phone',phone);
    var resPhone = validatePhone(phone);
    if(!resPhone){
      return
    }
    //验证图片验证码
    var imgCode = $("#imgCode").val();
    console.log('imgCode',imgCode);
    var resImg = validateImgCode(imgCode);
    // if(!resImg){
    //   return
    // }
    //请 求短信接口
    $.ajax({
      type: "POST",
      url: "{:url('index/login/get_code')}",
      data:{
        phone:phone,
        icode:imgCode,
      },
      success: function(data){
        console.log('data',data);
        if(data.code != 200){
          console.log('msg',data.msg);
          layer.msg(data.msg,{icon:1});
          return ;

        }
        if(data.code == 200){
          console.log('msg','验证码发送成功');
          layer.msg('验证码发送成功',{icon:1});
          let outTime = 60;
          console.log($(e));
          intervalID = setInterval(function(){
            if(outTime == 0){
              outTime = 60;
              clearInterval(intervalID)
              $(e).html('获取验证码');
              return
            }
            outTime--;
            $(e).html(outTime+'S后可重新获取');
          },1000);
        }
      }
    })
  }
  $('.consult').click(function(){
    showConsultModal();
    return false
  })
  function showConsultModal(){
    $("#consultModal").css({display: 'block'});
  }
  function hideConsultModal(){
    $("#consultModal").css({display: 'none'});
  }
  function submitForm(){
    var name = $("#name ").val();
    var mobile = $("#mobile ").val();
    var code = $("#code ").val();
    var content = $("#content ").val();
    var item_id = $("#tid").val();

    // if(name && mobile && code && content ){
    //   $("#addconsult").submit();
    // }else{
    //   console.log('请输入');
    //   layer.msg('请输入');
    // }
    $("#formData").serializeArray();
    console.log('  $("#formData").serializeArray()',  $("#formData").serializeArray());
    // 所有的数据 自行提交吧
    var forData = $("#formData").serializeArray();
    $.ajax({
      type: "POST",
      url: "{:url('index/consult/add_consult')}",
      data:{
        name:name,
        phone:mobile,
        code:code,
        content:content,
        item_id:item_id,
      },
      success: function(data){
        console.log('data',data);
        if(data.code != 200){
          layer.msg(data.msg);
          console.log('msg',data.msg);
        }else{
          layer.msg(data.msg);
          console.log('msg',data.msg);
        }
      }
    });
    hideConsultModal()
  }
  function getData(){
    const {page} =this;
    api.getFocusList({page,type:2}).then(data =>{
      console.log("data",data);
      this.data = data.data;
      this.count = data.count;
    });
  }
  /**
   * 点击分页
   * @param e
   */
  function pageChang(e){
    this.page = e-1;
    window.scrollTo(0,0);
    this.getData();
  }
  /**
   * 获取图片验证码
   */
  function getImgCode(){

  }
  /**
   * 验证手机格式
   * @param {Object} phone
   */
  function validatePhone () {
    const phone = $('#phone').val();
    console.log('phone',phone);
    if (!phone) {
      layer.msg('请输入手机号码',{icon:2});
      return false;
    }
    if (phone.length != 11) {
      layer.msg('手机号码格式不正确',{icon:2});
      return false;
    }
    return true;
  }
  /**
   * 获取验证码
   */
  let intervalID = '';
  function getCode (){
    let outTime = 60;
    if(intervalID){
      return;
    }
    if(!validatePhone()){
      return
    }
    intervalID = setInterval(function(){
      if(outTime == 0){
        outTime = 60;
        clearInterval(intervalID)
        $(e).html('获取验证码');
        return
      }
      outTime--;
      $("#time").html(outTime+'S后可重新获取');
    },1000)
    layer.msg('验证码发送成功',{icon:1});
  }

  /**
   * 验证手机格式
   * @param {Object} phone
   */
  function validatePhone(phone) {
    if (!phone) {
      this.$message.error('请输入手机号码');
      return false;
    }
    if (phone.length != 11) {
      this.$message.error('手机号码格式不正确');
      return false;
    }
    return true;
  }

  /**
   * 取消关注
   */
  $('#cancelFocus').click(e => {

    console.log("id",e.currentTarget.dataset.productid);
    layer.msg("取消关注成功",{icon:1});
    /* todo 调用接口 */
    return false
  })
</script>
{/block}