<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>我的账户</title>
  <meta name="keywords" content="加盟指南,加盟指南栏目,加盟指南网,项目加盟指南,创业好项目加盟指南，招商外包服务，专业招商外包服务公司，只做招商外包服务">
  <meta name="description"
        content="加盟指南网是为招商加盟企业提供招商外包服务的专业招商外包服务平台，平台设有加盟指南栏目,为加盟者提供各招商行业的加盟指南资讯,最新的加盟指南数据分析，创新的推送加盟线索招商外包服务模式对招商企业提供专业的招商外包服务,使其招商成功，招商外包服务热线:400-619-8882。">
  <link href="__STATIC__/index/css/app.ab2c6bd5a05d0ee41a13d9b60a53687a.css" rel="stylesheet">
  <script type="text/javascript" charset="utf-8" async="" src="__STATIC__/index/js/0.1871d735b27225dbba66.js"></script>
  <script type="text/javascript" charset="utf-8" async="" src="__STATIC__/index/js/12.401491fe7c00e3b2d089.js"></script>
</head>
<body>
<div id="app">
  <div data-v-5eef6683="" class="common-header">
    <div data-v-5eef6683="" class="body wrapper">
      <div data-v-5eef6683="" class="left">
        欢迎来到加盟指南网！ 全国服务热线：400-619-8882
      </div>
      <div data-v-5eef6683="" class="right">
        <div data-v-5eef6683="" class="phoneVersion"><span data-v-5eef6683="" class="iconfont icon-phone"></span> <span
          data-v-5eef6683="">手机版</span> <img data-v-5eef6683="" src="/index/img/wap_qrcode.475f601.jpg" alt="手机二维码"
                                             class="QRcode"></div>
        <div data-v-5eef6683="" class="weChatVersion"><span data-v-5eef6683="" class="iconfont icon-weChat"></span>
          <span data-v-5eef6683="">微信版</span> <img data-v-5eef6683="" src="/index/img/wx_qrcode.d7de962.jpg" alt="微信二维码"
                                                   class="QRcode"></div>
        <div data-v-5eef6683=""><a data-v-5eef6683="" href="{:url('index/login/login')}" class="">登陆</a></div>
      </div>
    </div>
  </div>
  <div data-v-b8a4af10="" class="focus">
    <div data-v-13f8abc6="" data-v-b8a4af10="" class="personalHeader">
      <div data-v-13f8abc6="" class="wrapper content"><a data-v-13f8abc6="" href="/" class="router-link-active"><img
        data-v-13f8abc6="" src="/index/img/logo.45da167.png" alt="" class="logo"></a>
        <div data-v-13f8abc6="" class="tabs"><a data-v-13f8abc6="" href="/" class="router-link-active">首页</a> <a
          data-v-13f8abc6="" href="{:url('index/index/rankinglist')}" class="">找项目</a> <a data-v-13f8abc6="" href="/rankingList" class="">排行榜</a> <a
          data-v-13f8abc6="" href=“{:url('index/article/index')}” class="">行业资讯</a></div>
      </div>
    </div>
    <div data-v-b8a4af10="" class="wrapper clearfix content"><!---->
      <div data-v-b8a4af10="" class="fr right">
        <div data-v-b8a4af10="" class="header clearfix">
          <div data-v-b8a4af10="" class="tab fl">我的账户</div>
        </div>
        <div data-v-b8a4af10="" class="account">
          <div data-v-b8a4af10="" class="number">
            <div data-v-b8a4af10="" class="count">1000</div>
            <div data-v-b8a4af10="" class="name">全部推送条数</div>
          </div>
          <div data-v-b8a4af10="" class="number">
            <div data-v-b8a4af10="" class="count">1000</div>
            <div data-v-b8a4af10="" class="name">已查看</div>
          </div>
          <div data-v-b8a4af10="" class="number">
            <div data-v-b8a4af10="" class="count">1000</div>
            <div data-v-b8a4af10="" class="name">剩余条数</div>
          </div>
          <div data-v-b8a4af10="" class="etcBtn">立即充值</div>
        </div>
        <div data-v-b8a4af10="" class="recordBox">
          <div data-v-b8a4af10="" class="head"><span data-v-b8a4af10="">订单列表</span></div>
          <div data-v-b8a4af10="" class="chart">
            <div data-v-b8a4af10="" class="clearfix"><span data-v-b8a4af10="">订单号</span> <span
              data-v-b8a4af10="">充值金额</span> <span data-v-b8a4af10="">充值单价</span> <span data-v-b8a4af10="">充值条数</span>
              <span data-v-b8a4af10="">充值时间</span> <span data-v-b8a4af10="">充值状态</span></div>
            <div data-v-b8a4af10="" class="clearfix"><span data-v-b8a4af10="">A100280</span> <span data-v-b8a4af10="">10.00</span>
              <span data-v-b8a4af10="">0.50</span> <span data-v-b8a4af10="">20</span> <span data-v-b8a4af10="">2019-08-12</span>
              <span data-v-b8a4af10="">成功</span></div>
            <div data-v-b8a4af10="" class="clearfix"><span data-v-b8a4af10="">A100280</span> <span data-v-b8a4af10="">10.00</span>
              <span data-v-b8a4af10="">0.50</span> <span data-v-b8a4af10="">20</span> <span data-v-b8a4af10="">2019-08-12</span>
              <span data-v-b8a4af10="">成功</span></div>
          </div>
          <div data-v-b8a4af10="" class="pages el-pagination is-background">
            <button type="button" disabled="disabled" class="btn-prev"><i class="el-icon el-icon-arrow-left"></i>
            </button>
            <ul class="el-pager"><!----><!----><!----><!----></ul>
            <button type="button" class="btn-next"><i class="el-icon el-icon-arrow-right"></i></button>
          </div>
        </div>
      </div>
    </div> <!----></div>
  <div data-v-4045a12e="" class="common-footer">
    <div data-v-4045a12e="" class="links ">
      <div data-v-4045a12e="" class="wrapper">
        <div data-v-4045a12e="" class="left"><a data-v-4045a12e="" href="/aboutUs" class="">关于我们</a> <a
          data-v-4045a12e="" href="/aboutUs" class="">产品服务</a> <a data-v-4045a12e="" href="/aboutUs" class="">产品优势</a>
          <a data-v-4045a12e="" href="/aboutUs" class="">客户合作</a> <a data-v-4045a12e="" href="/aboutUs"
                                                                     class="">联系我们</a></div>
        <div data-v-4045a12e="" class="right">
          客服热线：400-619-8882
        </div>
      </div>
    </div>
    <div data-v-4045a12e="" class="body wrapper">
      <div data-v-4045a12e="" class="left">
        <div data-v-4045a12e="">友情提示：创业有风险，投资需谨慎</div>
        <div data-v-4045a12e="" class="clearfix"><span data-v-4045a12e="" class="fl">Copyright © 2019 jinrongbaijia.com All Rights Reserved.冀ICP备17023127号-7</span>
          <div data-v-4045a12e="" class="fl" style="width: 300px; margin: 0px auto 0px 10px;"><a data-v-4045a12e=""
                                                                                                 target="_blank"
                                                                                                 href=" "
                                                                                                 style="display: inline-block; text-decoration: none; height: 30px; line-height: 30px;"><img
            data-v-4045a12e="" src="__STATIC__/index/img/jh.d0289dc.png" style="float: left; margin-top: 5px;">
            <p data-v-4045a12e=""
               style="float: left; height: 30px; line-height: 30px; margin: 0px 0px 0px 5px; color: rgb(147, 147, 147);">
              冀公网安备 13010802001059号</p></a></div>
        </div>
        <div data-v-4045a12e="">法律支持：河北盈华律师事务所</div>
        <a data-v-4045a12e="" href="http://www.bcpcn.com/product/rz/bq/BCP30497889F2859242.html" target="_blank"><img
          data-v-4045a12e="" src="http://www.bcpcn.com/bcptags/img/csrz.gif" border="0" class="csrz"></a></div>
      <div data-v-4045a12e="" class="right">
        <div data-v-4045a12e="" class="item"><img data-v-4045a12e="" src="__STATIC__/index/img/wx_qrcode.d7de962.jpg" alt=""
                                                  class="QRcode">
          <div data-v-4045a12e="">微信公众号</div>
        </div>
        <div data-v-4045a12e="" class="item"><img data-v-4045a12e="" src="__STATIC__/index/img/wap_qrcode.475f601.jpg" alt=""
                                                  class="QRcode">
          <div data-v-4045a12e="">手机版</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<script type="text/javascript" src="__STATIC__/index/js/manifest.3762d4712e1da0387b26.js"></script>-->
<script type="text/javascript" src="__STATIC__/index/js/vendor.56df9a2cbd8420fb4c7d.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/app.e34147882cbafe0f4382.js"></script>
</body>
</html>
