<!--继承模板-->
{extend name="defa/defa" /}
<!--title-->
{block name="title"}{/block}
<!--keywords-->
{block name="keywords"}{/block}
<!--description-->
{block name='description'}{/block}
<!--index js && css -->
{block name="index"}
<link href="__STATIC__/index/css/app.6e8fecf9baa6cf278e54a8181d44c5e4.css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" async="" src="__STATIC__/index/js/0.f5ed0d9d7e597a228142.js"></script>
<script type="text/javascript" charset="utf-8" async="" src="__STATIC__/index/js/17.2ca34d5d16f167d8013d.js"></script>
<style>
  .focus {
    background-color: #F4F5FA;
    padding-bottom: 120px;
  }
  .focus .content {
    padding-top: 20px;
  }
  .focus .content .right {
    width: 950px;
  }
  .focus .content .right .header {
    height: 60px;
    line-height: 58px;
    color: #999;
    font-size: 16px;
    padding: 0 30px;
    border-bottom: 1px solid #E3E4E5;
    background-color: #fff;
  }
  .focus .content .right .header .tab {
    margin-right: 45px;
  }
  .focus .content .right .header .currentTab {
    color: #333;
    font-weight: bold;
    border-bottom: 2px solid #579EFA;
  }
  .focus .content .right .account {
    height: 140px;
    padding: 0 100px 0 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
  }
  .focus .content .right .account .number .count {
    font-size: 32px;
    color: #333;
  }
  .focus .content .right .account .number .name {
    font-size: 14px;
    color: #999;
    padding-left: 5px;
    margin-top: 5px;
  }
  .focus .content .right .account .etcBtn {
    width: 140px;
    height: 40px;
    line-height: 40px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#579efa), to(#4f74f4));
    background: linear-gradient(180deg, #579efa, #4f74f4);
    text-align: center;
    cursor: pointer;
  }
  .focus .content .right .recordBox {
    width: 950px;
    background: #fff;
    margin-top: 20px;
    padding-bottom: 5px;
  }
  .focus .content .right .recordBox .head {
    padding: 0 33px;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #E3E4E5;
    display: flex;
    flex-direction: row;
    font-size: 16px;
  }
  .focus .content .right .recordBox .head span {
    margin-right: 50px;
    color: #666;
  }
  .focus .content .right .recordBox .head span.active {
    border-bottom: 2px solid #4F74F4;
  }
  .focus .content .right .recordBox .chart div {
    padding: 0 0 0 30px;
    height: 60px;
    line-height: 60px;
  }
  .focus .content .right .recordBox .chart div span {
    float: left;
    width: 153px;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
  }
  .focus .content .right .recordBox .chart div:nth-child(2n+1) {
    background: #F0F7FF;
  }

  .offBg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9990;
  }
  .offBg .offline {
    width: 540px;
    height: 420px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -210px 0 0 -270px;
  }
  .offBg .offline .head {
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #E3E4E5;
    position: relative;
  }
  .offBg .offline .head i {
    color: #999;
    position: absolute;
    right: 43px;
    top: 0;
    z-index: 10;
    cursor: pointer;
  }
  /*导航栏*/
  .dialog-footer {
    text-align: center;
  }

  .pages {
    text-align: center;
    margin: 34px 0;
  }

  .personalMenu {
    width: 230px;
    background-color: #fff;
  }
  .personalMenu .header {
    display: block;
    font-size: 16px;
    line-height: 60px;
    padding: 31px 21px;
    border-bottom: 1px solid #E3E4E5;
  }
  .personalMenu .header .avatar {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    vertical-align: middle;
    border-radius: 50%;
  }
  .personalMenu .items {
    padding: 22px 0;
  }
  .personalMenu .items .item {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 0 28px;
  }
  .personalMenu .items .item:hover {
    color: #579EFA;
  }
  .personalMenu .items .currentItem {
    color: #579EFA;
    background-color: #EBEDF5;
    border-left: 2px solid #579EFA;
  }
  /* header start */
  .personalHeader {
    width: 100%;
    background: #fff;
    padding: 15px 0;
  }
  .personalHeader .content {
    display: flex;
    justify-content: space-between;
  }
  .personalHeader .logo {
    width: 194px;
    height: 70px;
  }
  .personalHeader .tabs {
    height: 70px;
    line-height: 70px;
  }
  .personalHeader .tabs a {
    display: inline-block;
    width: 100px;
    text-align: right;
    cursor: pointer;
  }
  .personalHeader .tabs a:hover {
    color: #579EFA;
  }
  /* header end */

</style>
{/block}
{block name="header"}
{/block}
{block name="content"}
<div>
  <div class="focus">
    <div>
      <div data-v-5eef6683="" class="common-header">
        <div data-v-5eef6683="" class="body wrapper">
          <div data-v-5eef6683="" class="left">
            欢迎来到加盟指南网！ 全国服务热线：400-619-8882
          </div>
          <div data-v-5eef6683="" class="right">
            <div data-v-5eef6683="" class="phoneVersion">
              <span data-v-5eef6683="" class="iconfont icon-phone"></span>
              <span
                      data-v-5eef6683="">手机版</span>
              <img data-v-5eef6683="" src="__STATIC__/index/img/wap_qrcode.475f601.jpg" alt="手机二维码"
                   class="QRcode">
            </div>
            <div data-v-5eef6683="" class="weChatVersion">
              <span data-v-5eef6683="" class="iconfont icon-weChat"></span>
              <span data-v-5eef6683="">微信版</span>
              <img data-v-5eef6683="" src="__STATIC__/index/img/wx_qrcode.d7de962.jpg" alt="微信二维码" class="QRcode">
            </div>
            <div data-v-5eef6683="">
              {if $_SESSION['jmzn_web']['uid'] !== false}
              <a data-v-5eef6683="" href="{:url('index/user/index')}" class=""><span data-v-5eef6683="" class="name">您好，{$_SESSION['jmzn_web']['username']}</span></a>
              &nbsp;&nbsp;<a href="{:url('index/login/logout')}"><span data-v-5eef6683="">退出登陆</span></a>
              {else}
              <a data-v-5eef6683="" href="{:url('index/login/login')}" class="">登陆</a>
              {/if}
            </div>
          </div>
        </div>
      </div>
    <div>
      <div class="personalHeader">
        <div class="wrapper content">
          <a href="/">
            <img class="logo" src="../../static/image/logo.png" alt="">
          </a>
          <div class="tabs">
            <a href="/">首页</a>
            <a href="/list">找项目</a>
            <a href="/rankingList">排行榜</a>
            <a href="/news">行业资讯</a>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper clearfix content">
      <div class="fl" currentMenu="9">
        <div class="personalMenu">
          <a href="{:url('index/user/index')}" class="header clearfix">
            <img src="{$user.avatar}" alt="" class="avatar fl">
            <div class="fl">{$user.uname}</div>
          </a>
          <div class="items">
            <a href="{:url('index/user/message')}" class="item">
              <span>我的消息</span>
              <span class="el-icon-arrow-right"></span>
            </a >
            <a href="{:url('index/user/focus')}" class="item">
              <span>我的关注</span>
              <span class="el-icon-arrow-right"></span>
            </a >
            <a href="{:url('index/user/collect')}" class="item">
              <span>我的收藏</span>
              <span class="el-icon-arrow-right"></span>
            </a >
            <a href="{:url('index/user/leaveMessage')}" class="item">
              <span>我的留言</span>
              <span class="el-icon-arrow-right"></span>
            </a >
            <a href="{:url('index/user/index')}" class="item a-exact-active a-active currentItem">
              <span>我的账户</span>
              <span class="el-icon-arrow-right"></span>
            </a >
            <a href="{:url('index/user/footmark')}" class="item">
              <span>我的足迹</span>
              <span class="el-icon-arrow-right"></span>
            </a >
            <a href="{:url('index/user/account')}" class="item">
              <span>企业中心</span>
              <span class="el-icon-arrow-right"></span>
            </a >
            <a href="{:url('index/user/feedback')}" class="item">
              <span>意见反馈</span>
              <span class="el-icon-arrow-right"></span>
            </a >
            <a href="{:url('index/user/modify')}" class="item">
              <span>资料设置</span>
              <span class="el-icon-arrow-right"></span>
            </a >
          </div>
        </div>
      </div>
      <div class="fr right">
        <div class="header clearfix">
          <div class="tab fl">我的账户</div>
        </div>
        <div class="account">
          <div class="number">
            <div class="count">{$user.ncount}</div>
            <div class="name">全部推送条数</div>
          </div>
          <div class="number">
            <div class="count">{$user.rncount}</div>
            <div class="name">已查看</div>
          </div>
          <div class="number">
            <div class="count">{$user.rem}</div>
            <div class="name">剩余条数</div>
          </div>
          <div class="etcBtn" @click="etcClick">立即充值</div>
        </div>
        <div class="recordBox">
          <div class="head">
            <span>订单列表</span>
          </div>
          <div class="chart">
            <div class="clearfix">
              <span>订单号</span>
              <span>充值金额</span>
              <span>充值单价</span>
              <span>充值条数</span>
              <span>充值时间</span>
              <span>充值状态</span>
            </div>
            <div class="clearfix">
              <span>A100280</span>
              <span>10.00</span>
              <span>0.50</span>
              <span>20</span>
              <span>2019-08-12</span>
              <span>成功</span>
            </div>
            <div class="clearfix">
              <span>A100280</span>
              <span>10.00</span>
              <span>0.50</span>
              <span>20</span>
              <span>2019-08-12</span>
              <span>成功</span>
            </div>
          </div>
          <el-pagination
                  background
                  layout="prev, pager, next"
                  :total="count"
                  class="pages"
                  @current-change="pageChange"
          >
          </el-pagination>
        </div>
      </div>
    </div>
    <!--线下付款-->
    <div class="offBg" v-if="offShow" style="display: none;">
      <div class="offline">
        <div class="head">线下付款<i class="iconfont icon-close" @click="showOff"></i></div>
      </div>
    </div>

  </div>
</div>
{/block}